Repository infinit-xyz/infinit-library: changes, and which Codecov flags are due for each by the changed paths.
All: internal testing, infinit-xyz/core, infinit-xyz/aave-v3, infinit-xyz/uniswap-v3, infinit-xyz/token

feat(init-capital) support PythOracleReader (#124)
  .changeset/rotten-geese-know.md
  bun.lockb
  packages/modules/init-capital/package.json
  packages/modules/init-capital/src/actions/__mock__/setup.ts
  packages/modules/init-capital/src/actions/deployInitCapital.ts
  packages/modules/init-capital/src/actions/deployPythOracleReader.test.ts
  packages/modules/init-capital/src/actions/deployPythOracleReader.ts
  packages/modules/init-capital/src/actions/index.ts
  packages/modules/init-capital/src/actions/setPythOracleReaderTokensInfo.test.ts
  packages/modules/init-capital/src/actions/setPythOracleReaderTokensInfo.ts
  packages/modules/init-capital/src/actions/subactions/deployPythOracleReader.ts
  packages/modules/init-capital/src/actions/subactions/deployPythOracleReaderProxy.ts
  packages/modules/init-capital/src/actions/subactions/initializePythOracle.ts
  packages/modules/init-capital/src/actions/subactions/setPythOracleReaderMaxStaleTimes.ts
  packages/modules/init-capital/src/actions/subactions/setPythOracleReaderPriceIds.ts
  packages/modules/init-capital/src/actions/subactions/tx-builders/PythOracleReader/deploy.ts
  packages/modules/init-capital/src/actions/subactions/tx-builders/PythOracleReader/initialize.ts
  packages/modules/init-capital/src/actions/subactions/tx-builders/PythOracleReader/setMaxStaleTimes.ts
  packages/modules/init-capital/src/actions/subactions/tx-builders/PythOracleReader/setPriceIds.ts
  packages/modules/init-capital/vitest.config.ts
  packages/modules/uniswap-v3/vitest.config.ts
Due: infinit-xyz/uniswap-v3

feat(init-capital): add read address from registry
  packages/modules/init-capital/src/actions/supportNewPool.ts
Due: none

test(init-capital): add support new pool test(WIP)
  packages/modules/init-capital/src/actions/supportNewPool.test.ts
  packages/modules/init-capital/src/actions/supportNewPool.ts
Due: none

fix(init-capital): add subaction only if coll or borr params is set
  packages/modules/init-capital/src/actions/setModeFactors.ts
Due: none

feat(init-capital): add set mode factors (#119)
  .changeset/honest-bats-wave.md
  packages/modules/init-capital/src/actions/index.ts
  packages/modules/init-capital/src/actions/setModeFactors.ts
  packages/modules/init-capital/src/actions/subactions/setBorrFactors.test.ts
  packages/modules/init-capital/src/actions/subactions/setBorrFactors.ts
  packages/modules/init-capital/src/actions/subactions/setCollFactors.test.ts
  packages/modules/init-capital/src/actions/subactions/setCollFactors.ts
  packages/modules/init-capital/src/actions/subactions/tx-builders/Config/setBorrFactors_e18.test.ts
  packages/modules/init-capital/src/actions/subactions/tx-builders/Config/setBorrFactors_e18.ts
  packages/modules/init-capital/src/actions/subactions/tx-builders/Config/setCollFactors_e18.test.ts
  packages/modules/init-capital/src/actions/subactions/tx-builders/Config/setCollFactors_e18.ts
Due: none

update action callback and details type to OnChainAction
  packages/core/src/base/__mock__/txBuilder.mock.ts
  packages/core/src/base/action.ts
  packages/core/src/base/offChainAction.test.ts
  packages/core/src/base/offChainAction.ts
  packages/core/src/base/subAction.test.ts
  packages/core/src/base/subAction.ts
  packages/core/src/base/txBuilder.ts
  packages/core/src/infinit-wallet/index.ts
  packages/core/src/types/action.ts
  packages/core/src/types/callback/action.ts
  packages/core/src/types/callback/index.ts
  packages/core/src/types/callback/offChainAction.ts
  packages/core/src/types/index.test.ts
  packages/core/src/types/index.ts
  packages/core/src/types/offChainAction.ts
Due: infinit-xyz/core

changelog
  .changeset/thick-eyes-fold.md
Due: none

update TestInfinitWallet
  packages/test/src/testInfinitWallet.ts
Due: internal testing

merge onchain and offchain action detail
  packages/core/src/types/action.ts
Due: infinit-xyz/core

update ActionDetailRecord type
  packages/modules/aave-v3/src/actions/index.ts
  packages/modules/init-capital/src/actions/index.ts
  packages/modules/uniswap-v3/src/actions/index.ts
Due: infinit-xyz/aave-v3, infinit-xyz/uniswap-v3

update and refactor ActionDetailRecord
  packages/core/src/exports/__snapshots__/index.test.ts.snap
  packages/modules/token/package.json
  packages/modules/token/src/actions/index.ts
  packages/modules/token/src/actions/off-chain/__snapshots__/getMerkleTreeProofs.test.ts.snap
  packages/modules/token/src/actions/off-chain/getMerkleTreeProofs.ts
  packages/modules/token/src/actions/on-chain/deployAccumulativeMerkleDistributor.ts
  packages/modules/token/src/actions/on-chain/deployAccumulativeMerkleDistributorProxy.test.ts
  packages/modules/token/src/actions/on-chain/deployInfinitERC20.test.ts
  packages/modules/token/src/actions/on-chain/deployInfinitERC20.ts
  packages/modules/token/src/actions/on-chain/deployInfinitERC20Burnable.test.ts
  packages/modules/token/src/actions/on-chain/deployInfinitERC20Burnable.ts
  packages/modules/token/src/actions/on-chain/mintInfinitERC20.test.ts
  packages/modules/token/src/actions/on-chain/mintInfinitERC20.ts
  packages/modules/token/src/actions/on-chain/setMerkleRoot.test.ts
  packages/modules/token/src/actions/on-chain/setMerkleRoot.ts
  packages/modules/token/src/actions/on-chain/subactions/deployAccumulativeMerkleDistributor.ts
  packages/modules/token/src/actions/on-chain/subactions/deployERC1967ProxyAndInitialize.ts
  packages/modules/token/src/actions/on-chain/subactions/deployInfinitERC20.ts
  packages/modules/token/src/actions/on-chain/subactions/deployInfinitERC20Burnable.ts
  packages/modules/token/src/actions/on-chain/subactions/mintInfinitERC20.ts
  packages/modules/token/src/actions/on-chain/subactions/setMerkleRoot.ts
  packages/modules/token/src/actions/on-chain/subactions/txBuilders/AccumulativeMerkleDistributor/deploy.ts
  packages/modules/token/src/actions/on-chain/subactions/txBuilders/AccumulativeMerkleDistributor/initialize.ts
  packages/modules/token/src/actions/on-chain/subactions/txBuilders/AccumulativeMerkleDistributor/setMerkleRoot.ts
  packages/modules/token/src/actions/on-chain/subactions/txBuilders/ERC1967Proxy/deploy.ts
  packages/modules/token/src/actions/on-chain/subactions/txBuilders/InfinitERC20/deployInfinitERC20.ts
  packages/modules/token/src/actions/on-chain/subactions/txBuilders/InfinitERC20/mint.ts
  packages/modules/token/src/actions/on-chain/subactions/txBuilders/InfinitERC20Burnable/deployInfinitERC20Burnable.ts
  packages/modules/token/src/index.ts
  packages/modules/token/src/off-chain-actions/index.test.ts
  packages/modules/token/src/off-chain-actions/index.ts
  packages/modules/token/tsup.config.ts
Due: infinit-xyz/core, infinit-xyz/token

remove unused type
  packages/modules/aave-v3/src/actions/subactions/tx-builders/aToken/initialize.ts
  packages/modules/aave-v3/src/actions/subactions/tx-builders/delegationAwareAToken/initialize.ts
Due: infinit-xyz/aave-v3

update snapshot
  packages/core/src/types/__snapshots__/index.test.ts.snap
  packages/core/src/types/index.test.ts
Due: infinit-xyz/core

update snapshot
  packages/modules/token/src/index.test.ts
Due: infinit-xyz/token

changelog
  .changeset/clever-news-swim.md
  .changeset/sharp-shrimps-shake.md
Due: none

test(init-capital): test setModePoolFactors on forked
  packages/modules/init-capital/src/actions/setModeFactors.test.ts
Due: none

feat(init-capital): check debt ceiling on support new pool
  packages/modules/init-capital/src/actions/subactions/setModeDebtCeilingInfo.ts
  packages/modules/init-capital/src/actions/subactions/tx-builders/LiqIncentiveCalculator/setMaxLiqIncentiveMultiplier_e18.ts
  packages/modules/init-capital/src/actions/subactions/tx-builders/LiqIncentiveCalculator/setMinLiqIncentiveMultiplier_e18.ts
  packages/modules/init-capital/src/actions/subactions/tx-builders/LiqIncentiveCalculator/setTokenLiqIncentiveMulitiplier_e18.ts
  packages/modules/init-capital/src/actions/subactions/tx-builders/RiskManager/setModeDebtCeilingInfo.ts
  packages/modules/init-capital/src/actions/supportNewPool.ts
Due: none

feat(init-capital): add setModeDebtCeilingInfos subactions(WIP)
  packages/modules/init-capital/src/actions/subactions/setModeDebtCeilingInfos.ts
  packages/modules/init-capital/src/actions/supportNewPool.ts
Due: none

feat(init-capital): add setLiqIncentive
  packages/modules/init-capital/src/actions/subactions/deployLendingPoolProxy.ts
  packages/modules/init-capital/src/actions/subactions/setModeAndTokenLiqMultiplier.ts
  packages/modules/init-capital/src/actions/subactions/tx-builders/LiqIncentiveCalculator/setMinLiqIncentiveMultiplier_e18.ts
  packages/modules/init-capital/src/actions/subactions/tx-builders/LiqIncentiveCalculator/setModeLiqIncentiveMultiplier_e18.ts
  packages/modules/init-capital/src/actions/supportNewPool.test.ts
  packages/modules/init-capital/src/actions/supportNewPool.ts
Due: none

feat(init-capital): add setModeStatusDefault subaction for new pool
  packages/modules/init-capital/src/actions/subactions/setModeStatusesDefault.ts
  packages/modules/init-capital/src/actions/supportNewPool.ts
Due: none

feat(init-capital): Add setModePoolFactor and fix borrFactor and collFactor ranges
  packages/modules/init-capital/src/actions/subactions/setModePoolFactors.ts
  packages/modules/init-capital/src/actions/subactions/tx-builders/Config/setBorrFactors_e18.ts
  packages/modules/init-capital/src/actions/subactions/tx-builders/Config/setCollFactors_e18.ts
  packages/modules/init-capital/src/actions/supportNewPool.test.ts
  packages/modules/init-capital/src/actions/supportNewPool.ts
Due: none

feat(init-capital): add new sources and config oracle reader for new pool
  packages/modules/init-capital/src/actions/subactions/setInitOracle.ts
  packages/modules/init-capital/src/actions/subactions/setModeAndTokenLiqMultiplier.ts
  packages/modules/init-capital/src/actions/subactions/setNewPoolOracleReader.ts
  packages/modules/init-capital/src/actions/subactions/tx-builders/InitOracle/setPrimarySources.ts
  packages/modules/init-capital/src/actions/subactions/tx-builders/InitOracle/setSecondarySources.ts
  packages/modules/init-capital/src/actions/supportNewPool.test.ts
  packages/modules/init-capital/src/actions/supportNewPool.ts
Due: none

chore(init-capital): cleanup code
  packages/modules/init-capital/src/actions/supportNewPool.test.ts
  packages/modules/init-capital/src/actions/supportNewPool.ts
Due: none

feat(init-capital): add action to the index and add changeset
  .changeset/short-eels-worry.md
  packages/modules/init-capital/src/actions/index.ts
Due: none

feat(init-capital): add set max health after liq for support new pool action
  packages/modules/init-capital/src/actions/subactions/setMaxHealthAfterLiq.ts
  packages/modules/init-capital/src/actions/subactions/tx-builders/Config/setMaxHealthAfterLiq_e18.ts
  packages/modules/init-capital/src/actions/supportNewPool.test.ts
  packages/modules/init-capital/src/actions/supportNewPool.ts
Due: none

feat(init-capital): support new multiple pools
  packages/modules/init-capital/src/actions/index.ts
  packages/modules/init-capital/src/actions/supportNewPools.test.ts
  packages/modules/init-capital/src/actions/supportNewPools.ts
Due: none

chore(init-capital): update index
  packages/modules/init-capital/src/actions/index.ts
Due: none

fix(init-capital): fix type error
  packages/modules/init-capital/src/actions/subactions/setNewPoolOracleReader.ts
Due: none

fix(init-capital): add missing registry field for lendingPools
  packages/modules/init-capital/src/actions/subactions/deployLendingPoolProxy.ts
  packages/modules/init-capital/src/actions/subactions/initializePool.ts
  packages/modules/init-capital/src/actions/supportNewPools.test.ts
Due: none

feat(init-capital): support contract verification
  packages/modules/init-capital/src/actions/__mock__/setup.ts
  packages/modules/init-capital/src/utils/__snapshots__/contract-verifier.test.ts.snap
  packages/modules/init-capital/src/utils/artifact.ts
  packages/modules/init-capital/src/utils/contract-verifier.test.ts
  packages/modules/init-capital/src/utils/contract-verifier.ts
Due: none

test(init-capital): change to use real addresses
  packages/modules/init-capital/src/utils/__snapshots__/contract-verifier.test.ts.snap
  packages/modules/init-capital/src/utils/contract-verifier.test.ts
  packages/modules/init-capital/src/utils/contract-verifier.ts
Due: none

changeset
  .changeset/odd-moons-search.md
Due: none

feat(init-capital): add support pyth oracle for new lending pools and more test
  packages/modules/init-capital/src/actions/__mock__/address.ts
  packages/modules/init-capital/src/actions/__mock__/setup.ts
  packages/modules/init-capital/src/actions/subactions/setNewPoolOracleReader.ts
  packages/modules/init-capital/src/actions/supportNewPools.test.ts
  packages/modules/init-capital/src/actions/supportNewPools.ts
Due: none

test(init-capital): add validate all deploy pools params
  packages/modules/init-capital/src/actions/supportNewPools.test.ts
  packages/modules/init-capital/src/actions/supportNewPools.ts
Due: none

feat(init-capital): support contract verification (#135)
  .changeset/odd-moons-search.md
  packages/modules/init-capital/src/actions/__mock__/setup.ts
  packages/modules/init-capital/src/utils/__snapshots__/contract-verifier.test.ts.snap
  packages/modules/init-capital/src/utils/artifact.ts
  packages/modules/init-capital/src/utils/contract-verifier.test.ts
  packages/modules/init-capital/src/utils/contract-verifier.ts
Due: none

feat(init-capital): add check for init oracle's secondary source
  packages/modules/init-capital/src/actions/subactions/setInitOracle.ts
  packages/modules/init-capital/src/actions/subactions/setNewPoolOracleReader.ts
  packages/modules/init-capital/src/actions/supportNewPools.ts
Due: none

chore(init-capital): cleanup code
  packages/modules/init-capital/src/actions/subactions/setNewPoolOracleReader.ts
Due: none

chore(init-capital): update zod schema
  packages/modules/init-capital/src/actions/supportNewPools.ts
Due: none

feat(init-capital): fix comments
  packages/modules/init-capital/src/actions/supportNewPools.test.ts
  packages/modules/init-capital/src/actions/supportNewPools.ts
Due: none

Path conditions:
  internal testing: any of: packages/test/**
  infinit-xyz/core: any of: packages/core/**
  infinit-xyz/aave-v3: any of: packages/modules/aave-v3/**
  infinit-xyz/uniswap-v3: any of: packages/modules/uniswap-v3/**
  infinit-xyz/token: any of: packages/modules/token/**
