Repository infinit-xyz/infinit-library: changes, and which Codecov flags are due for each by the changed paths.
All: internal testing, infinit-xyz/core, infinit-xyz/aave-v3, infinit-xyz/uniswap-v3, infinit-xyz/token

codecov.yaml:

codecov:
  require_ci_to_pass: false

comment:
  layout: 'header, diff, flags, files, components, footer'

coverage:
  status:
    project:
      default:
        informational: true
    patch:
      default:
        informational: true

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        branches:
          - '!main'
  individual_components:
    - component_id: module_test
      name: internal testing
      paths:
        - packages/test/**
    - component_id: module_core
      name: infinit-xyz/core
      paths:
        - packages/core/**
    - component_id: module_aave_v3
      name: infinit-xyz/aave-v3
      paths:
        - packages/modules/aave-v3/**
    - component_id: module_uniswap_v3
      name: infinit-xyz/uniswap-v3
      paths:
        - packages/modules/uniswap-v3/**
    - component_id: module_token
      name: infinit-xyz/token
      paths:
        - packages/modules/token/**

update action tests
  packages/modules/aave-v3/src/actions/__test__/deployAggregatorApi3Adapter.test.ts
  packages/modules/aave-v3/src/actions/__test__/deployAggregatorBandAdapter.test.ts
  packages/modules/aave-v3/src/actions/__test__/deployAggregatorPythAdapter.test.ts
Due: infinit-xyz/aave-v3

add more test for adapter subactions
  packages/modules/aave-v3/src/actions/subactions/__test__/deployAggregatorApi3Adapter.test.ts
  packages/modules/aave-v3/src/actions/subactions/__test__/deployAggregatorBandAdapter.test.ts
  packages/modules/aave-v3/src/actions/subactions/__test__/deployAggregatorPythAdapter.test.ts
Due: infinit-xyz/aave-v3

fix typo
  packages/modules/aave-v3/src/actions/__mock__/address.ts
  packages/modules/aave-v3/src/actions/subactions/__test__/deployAggregatorApi3Adapter.test.ts
Due: infinit-xyz/aave-v3

add changeset
  .changeset/angry-items-train.md
Due: none

add aggregator adapters to contract verifier
  packages/modules/aave-v3/src/utils/contract-verifier.ts
Due: infinit-xyz/aave-v3

fix remappings failed
  packages/modules/aave-v3/contracts/aave-v3-oracle-adapter/hardhat.config.cjs
Due: infinit-xyz/aave-v3

move aave-v3-oracle-adapter to submodule
  bun.lockb
  packages/modules/aave-v3/contracts/aave-v3-oracle-adapter/AggregatorApi3Adapter.sol
  packages/modules/aave-v3/contracts/aave-v3-oracle-adapter/AggregatorBandAdapter.sol
  packages/modules/aave-v3/contracts/aave-v3-oracle-adapter/AggregatorPythAdapter.sol
  packages/modules/aave-v3/contracts/aave-v3-oracle-adapter/interfaces/IAggregator.sol
  packages/modules/aave-v3/contracts/aave-v3-oracle-adapter/interfaces/IApi3Proxy.sol
  packages/modules/aave-v3/contracts/aave-v3-oracle-adapter/interfaces/IPyth.sol
  packages/modules/aave-v3/contracts/aave-v3-oracle-adapter/interfaces/IStdReference.sol
  packages/modules/aave-v3/package.json
  packages/modules/aave-v3/scripts/postInstall.ts
Due: infinit-xyz/aave-v3

remove forge test (move to aave-v3-oracle-adapter repo)
  bun.lockb
  package.json
  packages/modules/aave-v3/foundry.toml
  packages/modules/aave-v3/test/foundry/Adapter.t.sol
Due: infinit-xyz/aave-v3

bump aave-v3-oracle-adapter version
  bun.lockb
  packages/modules/aave-v3/package.json
Due: infinit-xyz/aave-v3

refactor: compiler settings
  bun.lockb
  packages/modules/uniswap-v3/contracts/swap-router-contracts/hardhat.config.cjs
  packages/modules/uniswap-v3/contracts/universal-router/hardhat.config.cjs
  packages/modules/uniswap-v3/contracts/v3-periphery/hardhat.config.cjs
  packages/modules/uniswap-v3/contracts/v3-staker/hardhat.config.cjs
  packages/modules/uniswap-v3/package.json
  packages/modules/uniswap-v3/scripts/postInstall.ts
  packages/modules/uniswap-v3/src/actions/subactions/tx-builders/QuoterV2/deploy.ts
  packages/modules/uniswap-v3/tmpPackage.json
Due: infinit-xyz/uniswap-v3

chore: del other package change
  packages/modules/aave-v3/package.json
Due: infinit-xyz/aave-v3

chore: changeset
  .changeset/old-schools-pay.md
Due: none

fix: clean symlinks
  packages/modules/aave-v3/package.json
Due: infinit-xyz/aave-v3

fix: empty lib folder
  packages/modules/uniswap-v3/contracts/lib/.gitkeep
Due: infinit-xyz/uniswap-v3

fix: need to have empty folders
  packages/modules/uniswap-v3/contracts/permit2/.gitkeep
  packages/modules/uniswap-v3/contracts/v2-core/.gitkeep
Due: infinit-xyz/uniswap-v3

fix: pack& lib ver& del unused code
  bun.lockb
  packages/modules/uniswap-v3/package.json
  packages/modules/uniswap-v3/scripts/postInstall.ts
  packages/modules/uniswap-v3/scripts/postpack.ts
  packages/modules/uniswap-v3/scripts/prepack.ts
Due: infinit-xyz/uniswap-v3

chore: format and lint
  packages/modules/uniswap-v3/scripts/postInstall.ts
  packages/modules/uniswap-v3/scripts/postpack.ts
Due: infinit-xyz/uniswap-v3

fix: bug pack
  packages/modules/uniswap-v3/package.json
  packages/modules/uniswap-v3/scripts/postpack.ts
Due: infinit-xyz/uniswap-v3

fix: bug aave pack
  packages/modules/aave-v3/package.json
Due: infinit-xyz/aave-v3

fix(aave-v3): clean symlinks cmd (#82)
  packages/modules/aave-v3/package.json
Due: infinit-xyz/aave-v3

ignore mocks from prettier
  .prettierignore
Due: none

feat(core): update to handle new line
  packages/core/src/exports/internal/hardhat-base.config.cts
Due: infinit-xyz/core

feat(init-capital): init init-capital module
  packages/modules/init-capital/README.md
  packages/modules/init-capital/contracts/.gitkeep
  packages/modules/init-capital/contracts/init-capital/hardhat.config.cjs
  packages/modules/init-capital/package.json
  packages/modules/init-capital/scripts/postInstall.ts
  packages/modules/init-capital/scripts/postpack.ts
  packages/modules/init-capital/scripts/prepack.ts
  packages/modules/init-capital/src/actions/__tests__/.gitkeep
  packages/modules/init-capital/src/actions/index.test.ts
  packages/modules/init-capital/src/actions/index.ts
  packages/modules/init-capital/src/actions/subactions/txBuilders/.gitkeep
  packages/modules/init-capital/src/constants.ts
  packages/modules/init-capital/src/index.test.ts
  packages/modules/init-capital/src/index.ts
  packages/modules/init-capital/src/type.ts
  packages/modules/init-capital/src/utils/artifact.ts
  packages/modules/init-capital/tsconfig.json
  packages/modules/init-capital/tsup.config.ts
  packages/modules/init-capital/vitest.config.ts
Due: none

update changeset
  .changeset/grumpy-horses-cross.md
Due: none

add mocks to eslint ignore
  eslint.config.js
Due: none

add `__snapshots__` to prettierignore
  .prettierignore
Due: none

update default format and lint command to not fix
  package.json
Due: none

update cicd
  .github/workflows/check.yml
  .github/workflows/release.yml
Due: none

feat(init-capital): update package.json
  packages/modules/init-capital/package.json
Due: none

chore(ci/cd): update format and lint check (#86)
  .github/workflows/check.yml
  .github/workflows/release.yml
  .prettierignore
  eslint.config.js
  package.json
Due: none

update bun.lockb
  bun.lockb
Due: none

fix(init-captial): change target
  packages/modules/init-capital/scripts/prepack.ts
Due: none

refactor(uni-v3&aave-v3): fix bug pack (#84)
  packages/modules/aave-v3/package.json
  packages/modules/uniswap-v3/package.json
  packages/modules/uniswap-v3/scripts/postpack.ts
Due: infinit-xyz/aave-v3, infinit-xyz/uniswap-v3
