Repository infinit-xyz/infinit-library: changes, and which Codecov flags are due for each by the changed paths.
All: internal testing, infinit-xyz/core, infinit-xyz/aave-v3, infinit-xyz/uniswap-v3, infinit-xyz/token

fix(pendle): resolve comment
  packages/modules/pendle/src/actions/deployPendle.ts
  packages/modules/pendle/src/test.ts
Due: none

feat(core): use fqName
  packages/core/src/types/callback/contractVerifier.ts
  packages/core/src/utils/contract-verifier/helper/getContractInformation.ts
  packages/core/src/utils/contract-verifier/helper/verifyContract.ts
Due: infinit-xyz/core

changeset
  .changeset/three-fishes-fix.md
Due: none

feat(pendle): add FeeVault (#179)
  .changeset/tasty-crabs-worry.md
  bun.lockb
  packages/modules/pendle/contracts/fee-vault/hardhat.config.cjs
  packages/modules/pendle/package.json
  packages/modules/pendle/scripts/postInstall.ts
  packages/modules/pendle/scripts/postpack.ts
  packages/modules/pendle/scripts/prepack.ts
  packages/modules/pendle/src/actions/deployPendle.test.ts
  packages/modules/pendle/src/actions/deployPendle.ts
  packages/modules/pendle/src/actions/on-chain/subactions/deployFeeVault.ts
  packages/modules/pendle/src/actions/on-chain/subactions/txBuilders/FeeVault/deploy.ts
  packages/modules/pendle/src/type.ts
Due: none

chore(core): lint
  packages/core/src/utils/contract-verifier/helper/verifyContract.ts
Due: infinit-xyz/core

add changeset
  .changeset/many-chairs-guess.md
Due: none

fix lint
  .changeset/many-chairs-guess.md
  packages/core/src/utils/contract-verifier/baseContractVerifier.test.ts
  packages/core/src/utils/contract-verifier/helper/__tests__/verifyContract.test.ts
Due: infinit-xyz/core

feat(core): fix bug
  packages/core/src/utils/contract-verifier/helper/getContractInformation.ts
Due: infinit-xyz/core

chore(core): lint
  packages/core/src/utils/contract-verifier/helper/getContractInformation.ts
Due: infinit-xyz/core

update snap
  packages/modules/uniswap-v3/src/utils/__snapshots__/contract-verifier.test.ts.snap
Due: infinit-xyz/uniswap-v3

feat(core): use fq name (#180)
  .changeset/three-fishes-fix.md
  packages/core/src/types/callback/contractVerifier.ts
  packages/core/src/utils/contract-verifier/helper/getContractInformation.ts
Due: infinit-xyz/core

resolve comments
  packages/core/src/utils/contract-verifier/helper/__tests__/verifyContract.test.ts
Due: infinit-xyz/core

add changeset
  .changeset/many-chairs-guess.md
  .changeset/ten-items-tie.md
  .changeset/three-fishes-fix.md
Due: none

fix import error
  packages/core/src/utils/contract-verifier/helper/getContractInformation.ts
Due: infinit-xyz/core

fix lint
  packages/core/src/utils/contract-verifier/helper/__tests__/verifyContract.test.ts
Due: infinit-xyz/core

fix(pendle): update to use fq name
  packages/modules/pendle/src/utils/__snapshots__/contract-verifier.test.ts.snap
  packages/modules/pendle/src/utils/contract-verifier.ts
Due: none

bump infinit core version
  packages/modules/pendle/package.json
Due: none

fix(pendle): change fq name
  packages/modules/pendle/src/utils/contract-verifier.ts
Due: none

update snapshot
  packages/modules/pendle/src/utils/__snapshots__/contract-verifier.test.ts.snap
Due: none

add changeset
  .changeset/big-shrimps-punch.md
Due: none

feat(pendle): contract verifier (#185)
  .changeset/big-shrimps-punch.md
  packages/modules/pendle/package.json
  packages/modules/pendle/src/utils/__snapshots__/contract-verifier.test.ts.snap
  packages/modules/pendle/src/utils/contract-verifier.ts
Due: none

fix: update version & package
  bun.lockb
  packages/modules/aave-v3/package.json
  packages/modules/init-capital/package.json
  packages/modules/uniswap-v3/package.json
Due: infinit-xyz/aave-v3, infinit-xyz/uniswap-v3

add changeset
  .changeset/violet-oranges-compare.md
Due: none

fix(modules): update core version (#186)
  .changeset/violet-oranges-compare.md
  bun.lockb
  packages/modules/aave-v3/package.json
  packages/modules/init-capital/package.json
  packages/modules/uniswap-v3/package.json
Due: infinit-xyz/aave-v3, infinit-xyz/uniswap-v3

bump token module's core version
  packages/modules/token/package.json
Due: infinit-xyz/token

add changeset
  .changeset/rotten-needles-hunt.md
Due: none

chore(token): bump core version (#189)
  .changeset/rotten-needles-hunt.md
  packages/modules/token/package.json
Due: infinit-xyz/token

fix(pendle): fix tests
  packages/modules/init-capital/src/actions/subactions/setInitOracle.test.ts
  packages/modules/pendle/src/actions/on-chain/subactions/createNewMarket.test.ts
  packages/modules/pendle/src/actions/on-chain/subactions/deployBaseSplitCodeFactoryContract.test.ts
  packages/modules/pendle/src/actions/on-chain/subactions/deployPendleMarketFactoryV3.test.ts
  packages/modules/pendle/src/actions/on-chain/subactions/deployPendleMarketV3CreationCode.test.ts
  packages/modules/pendle/src/actions/on-chain/subactions/deployPendleMsgSendEndpointUpg.test.ts
  packages/modules/pendle/src/actions/on-chain/subactions/deployPendleRouterStatic.test.ts
  packages/modules/pendle/src/actions/on-chain/subactions/deployPendleRouterV4.test.ts
  packages/modules/pendle/src/actions/on-chain/subactions/deployPendleSwap.test.ts
  packages/modules/pendle/src/actions/on-chain/subactions/deployPendleVotingControllerUpg.test.ts
  packages/modules/pendle/src/actions/on-chain/subactions/deployProxyAdmin.test.ts
  packages/modules/pendle/src/actions/on-chain/subactions/deployRouterFacets.test.ts
  packages/modules/pendle/src/actions/on-chain/subactions/deployRouterStaticFacets.test.ts
  packages/modules/pendle/src/actions/on-chain/subactions/deployVotingEscrowPendleMainchain.test.ts
  packages/modules/pendle/src/actions/on-chain/subactions/deployYTV3CreationCode.test.ts
  packages/modules/pendle/src/actions/on-chain/subactions/initializePendleMsgSendEndpointUpg.test.ts
  packages/modules/pendle/src/actions/on-chain/subactions/initializePendleYieldContractFactory.test.ts
  packages/modules/pendle/src/actions/on-chain/subactions/setPendleRouterStaticFacets.test.ts
  packages/modules/pendle/src/actions/on-chain/subactions/setPendleRouterV4Facet.test.ts
  packages/modules/pendle/src/actions/on-chain/subactions/txBuilders/BaseSplitCodeFactoryContract/deployPendleMarketV3CreationCode.test.ts
  packages/modules/pendle/src/actions/on-chain/subactions/txBuilders/BaseSplitCodeFactoryContract/deployYTV3CreationCode.test.ts
  packages/modules/pendle/src/actions/on-chain/subactions/txBuilders/PendleGaugeControllerMainchainUpg/deploy.test.ts
  packages/modules/pendle/src/actions/on-chain/subactions/txBuilders/PendleGaugeControllerMainchainUpg/initialize.test.ts
  packages/modules/pendle/src/actions/on-chain/subactions/txBuilders/PendleGaugeControllerMainchainUpg/transferOwnership.test.ts
  packages/modules/pendle/src/actions/on-chain/subactions/txBuilders/PendleGaugeControllerMainchainUpg/upgradeTo.test.ts
  packages/modules/pendle/src/actions/on-chain/subactions/txBuilders/PendleLimitRouter/deploy.test.ts
  packages/modules/pendle/src/actions/on-chain/subactions/txBuilders/PendleLimitRouter/initialize.test.ts
  packages/modules/pendle/src/actions/on-chain/subactions/txBuilders/PendleMarketFactoryV3/deploy.test.ts
  packages/modules/pendle/src/actions/on-chain/subactions/txBuilders/PendleMsgSendEndpointUpg/initialize.test.ts
  packages/modules/pendle/src/actions/on-chain/subactions/txBuilders/PendleRouter/deploy.test.ts
  packages/modules/pendle/src/actions/on-chain/subactions/txBuilders/PendleRouterStatic/deploy.test.ts
  packages/modules/pendle/src/actions/on-chain/subactions/txBuilders/PendleRouterStatic/setDefaultApproxParams.test.ts
  packages/modules/pendle/src/actions/on-chain/subactions/txBuilders/PendleYieldContractFactory/createYieldContract.test.ts
  packages/modules/pendle/src/actions/on-chain/subactions/txBuilders/PendleYieldContractFactory/deploy.test.ts
  packages/modules/pendle/src/actions/on-chain/subactions/txBuilders/PendleYieldContractFactory/initialize.test.ts
  packages/modules/pendle/src/actions/on-chain/subactions/txBuilders/ProxyAdmin/deploy.test.ts
  packages/modules/pendle/src/actions/on-chain/subactions/txBuilders/ProxyAdmin/transferOwner.test.ts
  packages/modules/pendle/src/actions/on-chain/subactions/txBuilders/TransparentUpgradeableProxy/deploy.test.ts
  packages/modules/pendle/src/actions/on-chain/subactions/txBuilders/VotingEscrowPendleMainchain/deploy.test.ts
  packages/modules/pendle/src/actions/on-chain/subactions/upgradePendleGaugeControllerMainchainUpg.test.ts
Due: none

fix(pendle): del unused code
  packages/modules/pendle/src/actions/on-chain/subactions/deployPendleMarketFactoryV3.test.ts
Due: none

quick fix for fee vault contract
  packages/core/src/utils/contract-verifier/helper/getDependencyGraph.ts
  packages/core/src/utils/contract-verifier/helper/getMinimalSources.ts
Due: infinit-xyz/core

add changeset
  .changeset/stupid-panthers-prove.md
Due: none

fix remappings
  packages/core/src/utils/contract-verifier/helper/getDependencyGraph.ts
Due: infinit-xyz/core

fix remappings for init-capital
  packages/core/src/utils/contract-verifier/helper/getDependencyGraph.ts
Due: infinit-xyz/core

improve logic and add remappings for init-capital
  packages/core/src/utils/contract-verifier/helper/getDependencyGraph.ts
Due: infinit-xyz/core

Update getDependencyGraph.ts
  packages/core/src/utils/contract-verifier/helper/getDependencyGraph.ts
Due: infinit-xyz/core

update remappings
  packages/core/src/utils/contract-verifier/helper/getDependencyGraph.ts
Due: infinit-xyz/core

Path conditions:
  internal testing: any of: packages/test/**
  infinit-xyz/core: any of: packages/core/**
  infinit-xyz/aave-v3: any of: packages/modules/aave-v3/**
  infinit-xyz/uniswap-v3: any of: packages/modules/uniswap-v3/**
  infinit-xyz/token: any of: packages/modules/token/**
