Repository infinit-xyz/infinit-library: changes, and which Codecov flags are due for each by the changed paths.
All: internal testing, infinit-xyz/core, infinit-xyz/aave-v3, infinit-xyz/uniswap-v3, infinit-xyz/token

update lockfile
  bun.lockb
Due: none

remove unused code
  packages/modules/aave-v3/contracts/aave-v3-oracle-adapter/AggregatorApi3Adapter.sol
  packages/modules/aave-v3/contracts/aave-v3-oracle-adapter/AggregatorBandAdapter.sol
  packages/modules/aave-v3/contracts/aave-v3-oracle-adapter/AggregatorPythAdapter.sol
Due: infinit-xyz/aave-v3

update test fork chain and fix bug
  packages/modules/aave-v3/contracts/aave-v3-oracle-adapter/AggregatorApi3Adapter.sol
  packages/modules/aave-v3/contracts/aave-v3-oracle-adapter/AggregatorBandAdapter.sol
  packages/modules/aave-v3/contracts/aave-v3-oracle-adapter/AggregatorPythAdapter.sol
  packages/modules/aave-v3/test/foundry/Adapter.t.sol
Due: infinit-xyz/aave-v3

add tx-builders test and fix bug
  packages/modules/aave-v3/src/actions/__mock__/address.ts
  packages/modules/aave-v3/src/actions/subactions/tx-builders/AggregatorPythAdapter/deploy.ts
  packages/modules/aave-v3/src/actions/subactions/tx-builders/__test__/deployAggregatorApi3AdapterTxBuilder.test.ts
  packages/modules/aave-v3/src/actions/subactions/tx-builders/__test__/deployAggregatorPythAdapterTxBuilder.test.ts
Due: infinit-xyz/aave-v3

feat(aave-v3): add oracle adapter contracts
  package.json
  packages/modules/aave-v3/contracts/aave-v3-oracle-adapter/AggregatorApi3Adapter.sol
  packages/modules/aave-v3/contracts/aave-v3-oracle-adapter/AggregatorBandAdapter.sol
  packages/modules/aave-v3/contracts/aave-v3-oracle-adapter/AggregatorPythAdapter.sol
  packages/modules/aave-v3/contracts/aave-v3-oracle-adapter/hardhat.config.cjs
  packages/modules/aave-v3/contracts/aave-v3-oracle-adapter/interfaces/IAggregator.sol
  packages/modules/aave-v3/contracts/aave-v3-oracle-adapter/interfaces/IApi3Proxy.sol
  packages/modules/aave-v3/contracts/aave-v3-oracle-adapter/interfaces/IPyth.sol
  packages/modules/aave-v3/contracts/aave-v3-oracle-adapter/interfaces/IStdReference.sol
  packages/modules/aave-v3/foundry.toml
  packages/modules/aave-v3/src/actions/subactions/tx-builders/AggregatorApi3Adapter/deploy.ts
  packages/modules/aave-v3/src/actions/subactions/tx-builders/AggregatorBandAdapter/deploy.ts
  packages/modules/aave-v3/src/actions/subactions/tx-builders/AggregatorPythAdapter/deploy.ts
  packages/modules/aave-v3/test/foundry/Adapter.t.sol
Due: infinit-xyz/aave-v3

add fantom mock address and band test
  packages/modules/aave-v3/src/actions/__mock__/address.ts
  packages/modules/aave-v3/src/actions/subactions/tx-builders/__test__/deployAggregatorBandAdapterTxBuilder.test.ts
Due: infinit-xyz/aave-v3

format code
  packages/modules/aave-v3/contracts/aave-v3-oracle-adapter/AggregatorApi3Adapter.sol
  packages/modules/aave-v3/contracts/aave-v3-oracle-adapter/AggregatorBandAdapter.sol
  packages/modules/aave-v3/contracts/aave-v3-oracle-adapter/AggregatorPythAdapter.sol
  packages/modules/aave-v3/contracts/aave-v3-oracle-adapter/interfaces/IAggregator.sol
  packages/modules/aave-v3/contracts/aave-v3-oracle-adapter/interfaces/IApi3Proxy.sol
  packages/modules/aave-v3/contracts/aave-v3-oracle-adapter/interfaces/IPyth.sol
  packages/modules/aave-v3/contracts/aave-v3-oracle-adapter/interfaces/IStdReference.sol
Due: infinit-xyz/aave-v3

bump viem from 2.21.16 to 2.21.19
  bun.lockb
  packages/core/package.json
  packages/modules/aave-v3/package.json
  packages/modules/token/package.json
  packages/modules/uniswap-v3/package.json
  packages/test/package.json
Due: internal testing, infinit-xyz/core, infinit-xyz/aave-v3, infinit-xyz/uniswap-v3, infinit-xyz/token

changelog
  .changeset/healthy-rats-call.md
Due: none

test: add test for each module
  .env.example
  packages/modules/aave-v3/src/utils/__snapshots__/contract-verifier.test.ts.snap
  packages/modules/aave-v3/src/utils/contract-verifier.test.ts
  packages/modules/token/src/utils/__snapshots__/contract-verifier.test.ts.snap
  packages/modules/token/src/utils/contract-verifier.test.ts
  packages/modules/uniswap-v3/src/utils/__snapshots__/contract-verifier.test.ts.snap
  packages/modules/uniswap-v3/src/utils/contract-verifier.test.ts
Due: infinit-xyz/aave-v3, infinit-xyz/uniswap-v3, infinit-xyz/token

chore: typo
  packages/modules/aave-v3/src/utils/contract-verifier.test.ts
  packages/modules/token/src/utils/contract-verifier.test.ts
  packages/modules/uniswap-v3/src/utils/contract-verifier.test.ts
Due: infinit-xyz/aave-v3, infinit-xyz/uniswap-v3, infinit-xyz/token

test: update workflow
  .github/workflows/check.yml
Due: none

update lock file
  bun.lockb
Due: none

Add deploy api3 and pyth adapters
  packages/modules/aave-v3/src/actions/__mock__/address.ts
  packages/modules/aave-v3/src/actions/subactions/__test__/deployAggregatorApi3Adapter.test.ts
  packages/modules/aave-v3/src/actions/subactions/__test__/deployAggregatorPythAdapter.test.ts
  packages/modules/aave-v3/src/actions/subactions/deployAggregatorApi3Adapter.ts
  packages/modules/aave-v3/src/actions/subactions/deployAggregatorPythAdapter.ts
  packages/modules/aave-v3/src/type.ts
Due: infinit-xyz/aave-v3

ref: link contracts function & add post, pre pack, post install
  bun.lockb
  package.json
  packages/modules/aave-v3/package.json
  packages/modules/aave-v3/scripts/post-install.ts
  packages/modules/aave-v3/scripts/postInstall.ts
  packages/modules/aave-v3/scripts/postpack.ts
  packages/modules/aave-v3/scripts/prepack.ts
  packages/modules/aave-v3/src/actions/subactions/tx-builders/utils.ts
  scripts/linkContracts.ts
Due: infinit-xyz/aave-v3

chore: update bun lock
  bun.lockb
Due: none

add band adapter subaction and fantom chain for testing
  bun.lockb
  packages/modules/aave-v3/src/actions/subactions/__test__/deployAggregatorApi3Adapter.test.ts
  packages/modules/aave-v3/src/actions/subactions/__test__/deployAggregatorBandAdapter.test.ts
  packages/modules/aave-v3/src/actions/subactions/deployAggregatorBandAdapter.ts
  packages/modules/aave-v3/src/actions/subactions/deployAggregatorPythAdapter.ts
  packages/modules/aave-v3/src/type.ts
  packages/modules/aave-v3/src/utils/contract-verifier.ts
  packages/test/src/chains.ts
  packages/test/src/client.ts
  packages/test/src/constants.ts
Due: internal testing, infinit-xyz/aave-v3

update dependencies and bundle
  bun.lockb
  packages/core/package.json
  packages/core/tsup.config.ts
  packages/modules/aave-v3/package.json
  packages/modules/aave-v3/tsup.config.ts
  packages/modules/token/package.json
  packages/modules/token/tsup.config.ts
  packages/modules/uniswap-v3/package.json
  packages/modules/uniswap-v3/tsup.config.ts
Due: infinit-xyz/core, infinit-xyz/aave-v3, infinit-xyz/uniswap-v3, infinit-xyz/token

changelog
  .changeset/curvy-months-drop.md
Due: none

update cidcd to install with `--frozen-lockfile`
  .github/actions/setup-and-install/action.yml
Due: none

fix: update dependencies and bundle (#74)
  .changeset/curvy-months-drop.md
  .github/actions/setup-and-install/action.yml
  bun.lockb
  packages/core/package.json
  packages/core/tsup.config.ts
  packages/modules/aave-v3/package.json
  packages/modules/aave-v3/tsup.config.ts
  packages/modules/token/package.json
  packages/modules/token/tsup.config.ts
  packages/modules/uniswap-v3/package.json
  packages/modules/uniswap-v3/tsup.config.ts
Due: infinit-xyz/core, infinit-xyz/aave-v3, infinit-xyz/uniswap-v3, infinit-xyz/token

update vitest maxThreads to 8
  vitest.config.ts
Due: none

chore: update vitest maxThreads to 8 (#71)
  vitest.config.ts
Due: none

lockfile
  bun.lockb
Due: none

format and lint
  packages/modules/aave-v3/src/utils/contract-verifier.test.ts
  packages/modules/token/src/utils/contract-verifier.test.ts
  packages/modules/uniswap-v3/src/utils/contract-verifier.test.ts
Due: infinit-xyz/aave-v3, infinit-xyz/uniswap-v3, infinit-xyz/token

update snapshot
  packages/modules/aave-v3/src/utils/__snapshots__/contract-verifier.test.ts.snap
  packages/modules/token/src/utils/__snapshots__/contract-verifier.test.ts.snap
  packages/modules/uniswap-v3/src/utils/__snapshots__/contract-verifier.test.ts.snap
Due: infinit-xyz/aave-v3, infinit-xyz/uniswap-v3, infinit-xyz/token

test: add test for contract verifications (#72)
  .env.example
  .github/workflows/check.yml
  packages/modules/aave-v3/src/utils/__snapshots__/contract-verifier.test.ts.snap
  packages/modules/aave-v3/src/utils/contract-verifier.test.ts
  packages/modules/token/src/utils/__snapshots__/contract-verifier.test.ts.snap
  packages/modules/token/src/utils/contract-verifier.test.ts
  packages/modules/uniswap-v3/src/utils/__snapshots__/contract-verifier.test.ts.snap
  packages/modules/uniswap-v3/src/utils/contract-verifier.test.ts
Due: infinit-xyz/aave-v3, infinit-xyz/uniswap-v3, infinit-xyz/token

untrack symlink
  packages/modules/aave-v3/contracts/aave-v3-periphery/contracts
Due: infinit-xyz/aave-v3

update gitignore
  .gitignore
Due: none

add `@types/bun` as devDependencies
  bun.lockb
  package.json
Due: none

update default rpc for arbitrum rpc url
  packages/test/src/chains.ts
Due: internal testing

add adapter actions and tests
  packages/modules/aave-v3/src/actions/__test__/deployAggregatorApi3Adapter.test.ts
  packages/modules/aave-v3/src/actions/__test__/deployAggregatorBandAdapter.test.ts
  packages/modules/aave-v3/src/actions/__test__/deployAggregatorPythAdapter.test.ts
  packages/modules/aave-v3/src/actions/deployAggregatorApi3Adapter.ts
  packages/modules/aave-v3/src/actions/deployAggregatorBandAdapter.ts
  packages/modules/aave-v3/src/actions/deployAggregatorPythAdapter.ts
  packages/modules/aave-v3/src/actions/subactions/__test__/deployAggregatorApi3Adapter.test.ts
  packages/modules/aave-v3/src/actions/subactions/__test__/deployAggregatorBandAdapter.test.ts
  packages/modules/aave-v3/src/actions/subactions/__test__/deployAggregatorPythAdapter.test.ts
  packages/modules/aave-v3/src/actions/subactions/deployAggregatorApi3Adapter.ts
  packages/modules/aave-v3/src/actions/subactions/deployAggregatorBandAdapter.ts
  packages/modules/aave-v3/src/actions/subactions/deployAggregatorPythAdapter.ts
Due: infinit-xyz/aave-v3

format code
  packages/modules/aave-v3/contracts/aave-v3-oracle-adapter/hardhat.config.cjs
  packages/modules/aave-v3/src/actions/subactions/deployAggregatorBandAdapter.ts
Due: infinit-xyz/aave-v3

chore: add comments
  packages/modules/aave-v3/scripts/postInstall.ts
  packages/modules/aave-v3/scripts/postpack.ts
  packages/modules/aave-v3/scripts/prepack.ts
  scripts/linkContracts.ts
Due: infinit-xyz/aave-v3

changeset
  .changeset/gentle-years-sit.md
Due: none

Path conditions:
  internal testing: any of: packages/test/**
  infinit-xyz/core: any of: packages/core/**
  infinit-xyz/aave-v3: any of: packages/modules/aave-v3/**
  infinit-xyz/uniswap-v3: any of: packages/modules/uniswap-v3/**
  infinit-xyz/token: any of: packages/modules/token/**
