Repository infinit-xyz/infinit-library: changes, and which Codecov flags are due for each by the changed paths.
All: internal testing, infinit-xyz/core, infinit-xyz/aave-v3, infinit-xyz/uniswap-v3, infinit-xyz/token

fix: use getAddress
  packages/modules/init-capital/src/actions/subactions/tx-builders/Config/setPoolConfig.ts
Due: none

fix: use getAddress
  packages/modules/init-capital/src/actions/subactions/tx-builders/Pool/setIrm.ts
Due: none

add set max collateral wlp count action,subaction,tx-builder and tests
  packages/modules/init-capital/src/actions/setMaxCollWLpCount.test.ts
  packages/modules/init-capital/src/actions/setMaxCollWLpCount.ts
  packages/modules/init-capital/src/actions/subactions/setMaxCollWLpCount.test.ts
  packages/modules/init-capital/src/actions/subactions/setMaxCollWLpCount.ts
  packages/modules/init-capital/src/actions/subactions/tx-builders/Config/setMaxCollWLpCount.ts
  packages/modules/init-capital/src/actions/subactions/tx-builders/Config/setMaxCoolWLpCount.test.ts
Due: none

fix: check signer valid role & use getAddress
  packages/modules/init-capital/src/actions/subactions/tx-builders/Config/setModeStatus.ts
Due: none

feat(init-capital): set oracle
  packages/modules/init-capital/src/actions/setOracle.test.ts
  packages/modules/init-capital/src/actions/setOracle.ts
  packages/modules/init-capital/src/actions/subactions/setOracle.test.ts
  packages/modules/init-capital/src/actions/subactions/setOracle.ts
  packages/modules/init-capital/src/actions/subactions/tx-builders/InitCore/setOracle.test.ts
  packages/modules/init-capital/src/actions/subactions/tx-builders/InitCore/setOracle.ts
Due: none

update callback export
  .changeset/wise-plants-count.md
  packages/core/src/types/callback/index.ts
  packages/core/src/types/index.ts
  packages/core/tsup.config.ts
Due: infinit-xyz/core

changelog
  .changeset/pink-pianos-pump.md
Due: none

fix snapshot
  packages/core/src/exports/__snapshots__/index.test.ts.snap
Due: infinit-xyz/core

decrease vitest max threads to 4
  vitest.config.ts
Due: none

minor fix: internal test module export path
  packages/test/package.json
Due: internal testing

update `sendTransactions` in TestInfinitWallet to be similar to the main one
  packages/test/src/testInfinitWallet.ts
Due: internal testing

increase vitest maxThreads to 8
  vitest.config.ts
Due: none

fix incorect test to use `sendTransactions` instead of `writeContracts`
  packages/modules/aave-v3/src/actions/__test__/configureRewards.test.ts
  packages/modules/aave-v3/src/actions/__test__/deployAaveV3.test.ts
  packages/modules/token/src/actions/__tests__/deployInfinitERC20.test.ts
  packages/modules/token/src/actions/__tests__/deployInfinitERC20Burnable.test.ts
  packages/modules/token/src/actions/__tests__/setMerkleRoot.test.ts
Due: infinit-xyz/aave-v3, infinit-xyz/token

remove unused log
  packages/test/src/testInfinitWallet.ts
Due: internal testing

fix: debug snapshot
  packages/modules/token/src/off-chain-actions/__snapshots__/getMerkleTreeProofs.test.ts.snap
  packages/modules/token/src/off-chain-actions/getMerkleTreeProofs.test.ts
Due: infinit-xyz/token

fix(test): improve test for write contract (#106)
  packages/modules/aave-v3/src/actions/__test__/configureRewards.test.ts
  packages/modules/aave-v3/src/actions/__test__/deployAaveV3.test.ts
  packages/modules/token/src/actions/__tests__/deployInfinitERC20.test.ts
  packages/modules/token/src/actions/__tests__/deployInfinitERC20Burnable.test.ts
  packages/modules/token/src/actions/__tests__/setMerkleRoot.test.ts
  packages/test/package.json
  packages/test/src/testInfinitWallet.ts
  vitest.config.ts
Due: internal testing, infinit-xyz/aave-v3, infinit-xyz/token

update walletClient sendtx to use InfinitWallet sendtx
  packages/modules/aave-v3/src/actions/__mock__/setup.ts
  packages/modules/uniswap-v3/src/actions/__mock__/utils.ts
  packages/modules/uniswap-v3/src/actions/__test__/createIncentives.test.ts
Due: infinit-xyz/aave-v3, infinit-xyz/uniswap-v3

minor fix
  packages/modules/aave-v3/src/actions/__mock__/setup.ts
Due: infinit-xyz/aave-v3

update lib export in package.json
  packages/core/package.json
Due: infinit-xyz/core

add changeset
  .changeset/tough-geese-relax.md
Due: none

add error catching in TestInfinitWallet - sendTransactions
  packages/test/src/testInfinitWallet.ts
Due: internal testing

update error message
  packages/test/src/testInfinitWallet.ts
Due: internal testing

fix(core): update lib export in package.json (#109)
  .changeset/tough-geese-relax.md
  packages/core/package.json
Due: infinit-xyz/core

add error logging
  packages/test/src/testInfinitWallet.ts
Due: internal testing

hide error message in some test that expect to revert
  packages/modules/token/src/actions/__tests__/deployInfinitERC20.test.ts
  packages/modules/token/src/actions/__tests__/deployInfinitERC20Burnable.test.ts
  packages/test/src/testInfinitWallet.ts
Due: internal testing, infinit-xyz/token

hide some error
  packages/modules/token/src/actions/__tests__/deployInfinitERC20.test.ts
Due: infinit-xyz/token

decrease vitest maxthreads to 4
  vitest.config.ts
Due: none

typo
  packages/modules/uniswap-v3/src/actions/__mock__/utils.ts
  vitest.config.ts
Due: infinit-xyz/uniswap-v3

fix(test): handle send transaction to use infinit wallet (#108)
  packages/modules/aave-v3/src/actions/__mock__/setup.ts
  packages/modules/token/src/actions/__tests__/deployInfinitERC20.test.ts
  packages/modules/token/src/actions/__tests__/deployInfinitERC20Burnable.test.ts
  packages/modules/uniswap-v3/src/actions/__mock__/utils.ts
  packages/modules/uniswap-v3/src/actions/__test__/createIncentives.test.ts
  packages/test/src/testInfinitWallet.ts
  vitest.config.ts
Due: internal testing, infinit-xyz/aave-v3, infinit-xyz/uniswap-v3, infinit-xyz/token

minor update test
  packages/modules/init-capital/src/actions/deployInitCapital.test.ts
Due: none

update test
  packages/modules/aave-v3/src/actions/__test__/deployAaveV3.test.ts
Due: infinit-xyz/aave-v3

increase testTimeout for init-capital module to 30s
  packages/modules/init-capital/vitest.config.ts
Due: none

increase core testtimeout to 10s
  packages/core/vitest.config.ts
Due: infinit-xyz/core

increase core testtimeout to 30s
  packages/core/vitest.config.ts
Due: infinit-xyz/core

add changeset
  .changeset/afraid-mugs-confess.md
Due: none

remove stopImpersonatingAccount
  packages/test/src/testInfinitWallet.ts
Due: internal testing

decrease maxthreads to 4
  vitest.config.ts
Due: none

add mode factor tx-builders
  packages/modules/init-capital/src/actions/subactions/tx-builders/Config/setBorrFactors_e18.test.ts
  packages/modules/init-capital/src/actions/subactions/tx-builders/Config/setBorrFactors_e18.ts
  packages/modules/init-capital/src/actions/subactions/tx-builders/Config/setCollFactors_e18.test.ts
  packages/modules/init-capital/src/actions/subactions/tx-builders/Config/setCollFactors_e18.ts
Due: none

decrease vitest maxthreads to 1
  vitest.config.ts
Due: none

update changelog
  .changeset/afraid-mugs-confess.md
Due: none

Path conditions:
  internal testing: any of: packages/test/**
  infinit-xyz/core: any of: packages/core/**
  infinit-xyz/aave-v3: any of: packages/modules/aave-v3/**
  infinit-xyz/uniswap-v3: any of: packages/modules/uniswap-v3/**
  infinit-xyz/token: any of: packages/modules/token/**
