Repository infinit-xyz/infinit-library: changes, and which Codecov flags are due for each by the changed paths.
All: internal testing, infinit-xyz/core, infinit-xyz/aave-v3, infinit-xyz/uniswap-v3, infinit-xyz/token

codecov.yaml:

codecov:
  require_ci_to_pass: false

comment:
  layout: 'header, diff, flags, files, components, footer'

coverage:
  status:
    project:
      default:
        informational: true
    patch:
      default:
        informational: true

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        branches:
          - '!main'
  individual_components:
    - component_id: module_test
      name: internal testing
      paths:
        - packages/test/**
    - component_id: module_core
      name: infinit-xyz/core
      paths:
        - packages/core/**
    - component_id: module_aave_v3
      name: infinit-xyz/aave-v3
      paths:
        - packages/modules/aave-v3/**
    - component_id: module_uniswap_v3
      name: infinit-xyz/uniswap-v3
      paths:
        - packages/modules/uniswap-v3/**
    - component_id: module_token
      name: infinit-xyz/token
      paths:
        - packages/modules/token/**

fix bugs on deploy ActionVePendleStatic facet
  packages/modules/pendle/src/actions/deployPendleV3.ts
  packages/modules/pendle/src/actions/on-chain/subactions/deployRouterStaticFacets.ts
  packages/modules/pendle/src/actions/on-chain/subactions/txBuilders/PendleRouterStatic/facets/ActionVePendleStatic/deploy.ts
Due: none

fix typo and add up to step 18
  packages/modules/pendle/src/actions/deployPendleV3.test.ts
  packages/modules/pendle/src/actions/deployPendleV3.ts
  packages/modules/pendle/src/actions/on-chain/subactions/deployPendleRouterStatic.ts
  packages/modules/pendle/src/actions/on-chain/subactions/setPendleRouterStaticFacets.ts
  packages/modules/pendle/src/actions/on-chain/subactions/setPendleRouterV4Facets.ts
Due: none

add step list
  packages/modules/pendle/src/actions/deployPendleV3.ts
Due: none

fix lint
  packages/modules/pendle/src/actions/index.test.ts
  packages/modules/pendle/src/actions/on-chain/subactions/deployPendleGovernanceProxy.test.ts
Due: none

fix typecheck
  bun.lockb
  packages/modules/pendle/src/actions/on-chain/subactions/txBuilders/PendleRouterStatic/setFacetForSelectors.test.ts
Due: none

add deploy and initialize pendle limit router
  bun.lockb
  packages/modules/pendle/src/actions/deployPendleV3.test.ts
  packages/modules/pendle/src/actions/deployPendleV3.ts
  packages/modules/pendle/src/actions/on-chain/subactions/deployPendleLimitRouter.ts
  packages/modules/pendle/src/actions/on-chain/subactions/deployProxyAdmin.ts
  packages/modules/pendle/src/actions/on-chain/subactions/initializePendleLimitRouter.ts
  packages/modules/pendle/src/actions/on-chain/subactions/txBuilders/PendleLimitRouter/initialize.ts
  packages/modules/pendle/src/type.ts
Due: none

fix typecheck and add subactions to step 22
  packages/modules/pendle/src/actions/deployPendleV3.test.ts
  packages/modules/pendle/src/actions/deployPendleV3.ts
  packages/modules/pendle/src/actions/index.test.ts
  packages/modules/pendle/src/actions/on-chain/subactions/deployPendlePYLpOracle.ts
  packages/modules/pendle/src/actions/on-chain/subactions/deployPendlePYLpOracleProxy.ts
  packages/modules/pendle/src/actions/on-chain/subactions/initializePendlePYLpOracle.ts
  packages/modules/pendle/src/actions/on-chain/subactions/txBuilders/PendleRouterStatic/setFacetForSelectors.test.ts
  packages/modules/pendle/src/type.ts
Due: none

add steps as comments
  packages/modules/pendle/src/actions/deployPendleV3.ts
Due: none

change rpc endpoint for contract verifier test
  packages/core/src/utils/contract-verifier/helper/__tests__/getConstructorArgsFromCreationCode.test.ts
  packages/core/src/utils/contract-verifier/helper/__tests__/getContractInformation.test.ts
  packages/core/src/utils/contract-verifier/helper/__tests__/resolveLinkedLibraries.test.ts
  packages/core/src/utils/contract-verifier/helper/__tests__/verifyContract.test.ts
Due: infinit-xyz/core

add subaction to step 27
  packages/modules/pendle/src/actions/deployPendleV3.test.ts
  packages/modules/pendle/src/actions/deployPendleV3.ts
Due: none

add all steps and validations
  packages/modules/pendle/src/actions/deployPendleV3.test.ts
  packages/modules/pendle/src/actions/deployPendleV3.ts
  packages/modules/pendle/src/actions/on-chain/subactions/deployPendleBoringOneracle.test.ts
  packages/modules/pendle/src/actions/on-chain/subactions/deployPendleBoringOneracle.ts
  packages/modules/pendle/src/actions/on-chain/subactions/txBuilders/PendleBoringOneracle/deploy.test.ts
  packages/modules/pendle/src/actions/on-chain/subactions/txBuilders/PendleBoringOneracle/deploy.ts
  packages/modules/pendle/src/type.ts
Due: none

update comments
  packages/modules/pendle/src/actions/deployPendleV3.test.ts
  packages/modules/pendle/src/actions/deployPendleV3.ts
Due: none

fix typo
  packages/modules/pendle/src/actions/deployPendleV3.test.ts
Due: none

fix(pendle): update test and reorder deployment
  packages/modules/pendle/src/actions/__mocks__/address.ts
  packages/modules/pendle/src/actions/deployPendleV3.test.ts
  packages/modules/pendle/src/actions/deployPendleV3.ts
  packages/modules/pendle/src/actions/on-chain/subactions/deployPendleGaugeControllerMainchainUpg.ts
  packages/modules/pendle/src/actions/on-chain/subactions/deployPendleGaugeControllerMainchainUpgProxy.ts
  packages/modules/pendle/src/actions/on-chain/subactions/deployPendleMarketFactoryV3.ts
  packages/modules/pendle/src/actions/on-chain/subactions/initializePendleGaugeControllerMainchainUpgProxy.ts
  packages/modules/pendle/src/actions/on-chain/subactions/txBuilders/PendleGaugeControllerMainchainUpg/initialize.ts
  packages/modules/pendle/src/actions/on-chain/subactions/txBuilders/PendleGaugeControllerMainchainUpg/upgradeTo.ts
  packages/modules/pendle/src/actions/on-chain/subactions/upgradePendleGaugeControllerMainchainUpgProxy.ts
  packages/modules/pendle/src/type.ts
Due: none

chore(pendle): lint
  packages/modules/pendle/src/actions/deployPendleV3.test.ts
  packages/modules/pendle/src/actions/deployPendleV3.ts
  packages/modules/pendle/src/actions/on-chain/subactions/deployPendleMarketFactoryV3.ts
  packages/modules/pendle/src/actions/on-chain/subactions/txBuilders/PendleGaugeControllerMainchainUpg/upgradeTo.ts
Due: none

test(pendle): update tests
  packages/modules/pendle/src/actions/__mocks__/address.ts
  packages/modules/pendle/src/actions/deployPendleV3.test.ts
  packages/modules/pendle/src/actions/deployPendleV3.ts
Due: none

feat(init capital): add new mode and set init oracle sources (#152)
  .changeset/sharp-jokes-wash.md
  packages/modules/aave-v3/vitest.config.ts
  packages/modules/init-capital/src/actions/addNewModes.test.ts
  packages/modules/init-capital/src/actions/addNewModes.ts
  packages/modules/init-capital/src/actions/index.ts
  packages/modules/init-capital/src/actions/setInitOracleSources.test.ts
  packages/modules/init-capital/src/actions/setInitOracleSources.ts
  packages/modules/init-capital/src/actions/subactions/setModeAndTokenLiqMultiplier.test.ts
  packages/modules/init-capital/src/actions/subactions/tx-builders/Config/setBorrFactors_e18.test.ts
  packages/modules/init-capital/src/actions/subactions/tx-builders/Config/setBorrFactors_e18.ts
  packages/modules/init-capital/src/actions/subactions/tx-builders/Config/setCollFactors_e18.test.ts
  packages/modules/init-capital/src/actions/subactions/tx-builders/Config/setCollFactors_e18.ts
  packages/modules/init-capital/src/actions/supportNewPools.ts
  packages/modules/init-capital/vitest.config.ts
  packages/modules/token/vitest.config.ts
  packages/modules/uniswap-v3/vitest.config.ts
  packages/test/src/globalSetup.ts
  vitest.config.ts
Due: internal testing, infinit-xyz/aave-v3, infinit-xyz/uniswap-v3, infinit-xyz/token

chore(pendle): fix type
  packages/modules/pendle/src/actions/deployPendleV3.test.ts
  packages/modules/pendle/src/actions/deployPendleV3.ts
Due: none

chore(pendle): remove console.log
  packages/modules/pendle/src/actions/deployPendleV3.test.ts
Due: none

chore(pendle): lint
  packages/modules/pendle/src/actions/deployPendleV3.test.ts
Due: none

feat(core): add transaction error
  packages/core/src/errors/transaction.ts
Due: infinit-xyz/core

changeset
  .changeset/witty-garlics-type.md
Due: none

fix(core): rpc error
  packages/core/src/utils/contract-verifier/helper/__tests__/getConstructorArgsFromCreationCode.test.ts
  packages/core/src/utils/contract-verifier/helper/__tests__/getContractInformation.test.ts
  packages/core/src/utils/contract-verifier/helper/__tests__/resolveLinkedLibraries.test.ts
  packages/core/src/utils/contract-verifier/helper/__tests__/verifyContract.test.ts
Due: infinit-xyz/core

fix(core): update snapshot
  packages/core/src/exports/__snapshots__/errors.test.ts.snap
Due: infinit-xyz/core

feat(core): add event error (#163)
  .changeset/witty-garlics-type.md
  packages/core/src/errors/transaction.ts
  packages/core/src/exports/__snapshots__/errors.test.ts.snap
  packages/core/src/utils/contract-verifier/helper/__tests__/getConstructorArgsFromCreationCode.test.ts
  packages/core/src/utils/contract-verifier/helper/__tests__/getContractInformation.test.ts
  packages/core/src/utils/contract-verifier/helper/__tests__/resolveLinkedLibraries.test.ts
  packages/core/src/utils/contract-verifier/helper/__tests__/verifyContract.test.ts
Due: infinit-xyz/core

chore(pendle): move to mock address
  packages/modules/pendle/src/actions/__mocks__/address.ts
  packages/modules/pendle/src/actions/deployPendleV3.test.ts
Due: none

fix(core): increase prool timeout
  packages/test/src/globalSetup.ts
Due: internal testing

feat(core): prool timeout changeset
  .changeset/khaki-bears-reflect.md
Due: none

feat(core): add prool timeout (#164)
  .changeset/khaki-bears-reflect.md
  packages/test/src/globalSetup.ts
Due: internal testing

bump @infinit-xyz/core from ^0.1.0-alpha.10 to ^0.1.0-alpha.11
  packages/modules/pendle/package.json
Due: none

fix deployAll (#162)
  packages/modules/pendle/src/actions/__mocks__/address.ts
  packages/modules/pendle/src/actions/deployPendleV3.test.ts
  packages/modules/pendle/src/actions/deployPendleV3.ts
Due: none

fix tsup config name
  packages/modules/pendle/tsup.config.ts
Due: none

rename and fix lint
  packages/modules/pendle/src/actions/deployPendle.test.ts
  packages/modules/pendle/src/actions/deployPendle.ts
  packages/modules/pendle/src/actions/index.ts
  packages/modules/pendle/src/actions/on-chain/subactions/createNewMarket.ts
  packages/modules/pendle/src/actions/on-chain/subactions/deployCreationCode.ts
  packages/modules/pendle/src/actions/on-chain/subactions/deployPendleMsgSendEndpointUpg.ts
  packages/modules/pendle/src/actions/on-chain/subactions/deployPendleRouterV4.ts
  packages/modules/pendle/src/actions/on-chain/subactions/deploySimulateHelper.ts
  packages/modules/pendle/src/actions/on-chain/subactions/initializePendleGaugeControllerMainchainUpgProxy.ts
  packages/modules/pendle/src/actions/on-chain/subactions/initializePendleLimitRouter.ts
  packages/modules/pendle/src/actions/on-chain/subactions/initializePendleMsgSendEndpointUpg.ts
  packages/modules/pendle/src/actions/on-chain/subactions/initializePendlePYLpOracle.ts
  packages/modules/pendle/src/actions/on-chain/subactions/initializePendleVotingControllerUpg.ts
  packages/modules/pendle/src/actions/on-chain/subactions/initializePendleYieldContractFactory.ts
  packages/modules/pendle/src/actions/on-chain/subactions/setPendleRouterV4Facets.ts
  packages/modules/pendle/src/actions/on-chain/subactions/upgradePendleGaugeControllerMainchainUpgProxy.ts
Due: none

remove unused params and remove unnecessary await
  packages/modules/pendle/src/actions/deployPendle.test.ts
  packages/modules/pendle/src/actions/deployPendle.ts
Due: none

chore(pendle): remove unused file
  packages/modules/pendle/src/actions/on-chain/subactions/txBuilders/TransparentUpgradeableProxy copy/deploy.ts
Due: none

feat(pendle): rename and add transferOwnership for PendleGaugeControllerMainchainUpg
  packages/modules/pendle/src/actions/deployPendle.test.ts
  packages/modules/pendle/src/actions/deployPendle.ts
  packages/modules/pendle/src/actions/on-chain/subactions/initializePendleGaugeControllerMainchainUpg.ts
  packages/modules/pendle/src/actions/on-chain/subactions/transferOwnershipPendleGaugeControllerMainchainUpg.ts
  packages/modules/pendle/src/actions/on-chain/subactions/txBuilders/PendleGaugeControllerMainchainUpg/transferOwnership.ts
  packages/modules/pendle/src/actions/on-chain/subactions/upgradePendleGaugeControllerMainchainUpg.ts
Due: none
