Repository infinit-xyz/infinit-library: changes, and which Codecov flags are due for each by the changed paths.
All: internal testing, infinit-xyz/core, infinit-xyz/aave-v3, infinit-xyz/uniswap-v3, infinit-xyz/token

feat(aave-v3): add FeeVault
  packages/modules/aave-v3/contracts/fee-vault/hardhat.config.cjs
  packages/modules/aave-v3/package.json
  packages/modules/aave-v3/scripts/postInstall.ts
  packages/modules/aave-v3/scripts/postpack.ts
  packages/modules/aave-v3/scripts/prepack.ts
  packages/modules/aave-v3/src/actions/__mock__/setup.ts
  packages/modules/aave-v3/src/actions/__test__/configureRewards.test.ts
  packages/modules/aave-v3/src/actions/__test__/deployAaveV3.test.ts
  packages/modules/aave-v3/src/actions/deployAaveV3.ts
  packages/modules/aave-v3/src/actions/subactions/deployAaveV3Contracts_2.ts
  packages/modules/aave-v3/src/actions/subactions/tx-builders/FeeVault/deploy.ts
  packages/modules/aave-v3/src/type.ts
Due: infinit-xyz/aave-v3

feat(uniswap-v3): add FeeVault
  packages/modules/uniswap-v3/contracts/fee-vault/hardhat.config.cjs
  packages/modules/uniswap-v3/package.json
  packages/modules/uniswap-v3/scripts/postInstall.ts
  packages/modules/uniswap-v3/scripts/postpack.ts
  packages/modules/uniswap-v3/scripts/prepack.ts
  packages/modules/uniswap-v3/src/actions/__test__/collectProtocol.test.ts
  packages/modules/uniswap-v3/src/actions/__test__/deployUniswapV3.test.ts
  packages/modules/uniswap-v3/src/actions/collectProtocol.ts
  packages/modules/uniswap-v3/src/actions/deployUniswapV3.ts
  packages/modules/uniswap-v3/src/actions/subactions/deployUniswapV3Contracts2.ts
  packages/modules/uniswap-v3/src/actions/subactions/tx-builders/FeeVault/deploy.ts
  packages/modules/uniswap-v3/src/type.ts
  packages/modules/uniswap-v3/src/utils/__snapshots__/contract-verifier.test.ts.snap
Due: infinit-xyz/uniswap-v3

fix(init-capital): support new pool test 2 (#144)
  .changeset/dull-jobs-peel.md
  packages/modules/init-capital/src/actions/subactions/setInitOracle.test.ts
  packages/modules/init-capital/src/actions/subactions/setModeAndTokenLiqMultiplier.test.ts
  packages/modules/init-capital/src/actions/subactions/setModeAndTokenLiqMultiplier.ts
  packages/modules/init-capital/src/actions/subactions/setNewPoolOracleReader.test.ts
  packages/modules/init-capital/src/actions/subactions/tx-builders/LiqIncentiveCalculator/setMinLiqIncentiveMultiplier_e18.ts
  packages/modules/init-capital/src/actions/subactions/tx-builders/LiqIncentiveCalculator/setModeLiqIncentiveMultiplier_e18.ts
  packages/modules/init-capital/src/actions/subactions/tx-builders/LiqIncentiveCalculator/setTokenLiqIncentiveMulitiplier_e18.ts
Due: none

feat(init-capital): add lsdApi3ProxyOracleReader tx-builder deploy and test
  packages/modules/init-capital/src/actions/subactions/tx-builders/LsdApi3ProxyOracleReader/deploy.test.ts
  packages/modules/init-capital/src/actions/subactions/tx-builders/LsdApi3ProxyOracleReader/deploy.ts
Due: none

feat(init-capital): add lsdApi3ProxyOracleReader subactions and action to mock
  packages/modules/init-capital/src/actions/__mock__/setup.ts
  packages/modules/init-capital/src/actions/deployLsdApi3ProxyOracleReader.test.ts
  packages/modules/init-capital/src/actions/deployLsdApi3ProxyOracleReader.ts
  packages/modules/init-capital/src/actions/subactions/deployLsdApi3ProxyOracleReader.ts
  packages/modules/init-capital/src/actions/subactions/deployLsdApi3ProxyOracleReaderProxy.ts
  packages/modules/init-capital/src/actions/subactions/setLsdApi3ProxyOracleReaderDataFeedProxies.test.ts
  packages/modules/init-capital/src/actions/subactions/setLsdApi3ProxyOracleReaderDataFeedProxies.ts
  packages/modules/init-capital/src/actions/subactions/setLsdApi3ProxyOracleReaderMaxStaleTimes.test.ts
  packages/modules/init-capital/src/actions/subactions/setLsdApi3ProxyOracleReaderMaxStaleTimes.ts
  packages/modules/init-capital/src/actions/subactions/setLsdApi3ProxyOracleReaderQuoteTokens.test.ts
  packages/modules/init-capital/src/actions/subactions/setLsdApi3ProxyOracleReaderQuoteTokens.ts
  packages/modules/init-capital/src/actions/subactions/tx-builders/LsdApi3ProxyOracleReader/setDataFeedProxies.test.ts
  packages/modules/init-capital/src/actions/subactions/tx-builders/LsdApi3ProxyOracleReader/setDataFeedProxies.ts
  packages/modules/init-capital/src/actions/subactions/tx-builders/LsdApi3ProxyOracleReader/setMaxStaleTimes.test.ts
  packages/modules/init-capital/src/actions/subactions/tx-builders/LsdApi3ProxyOracleReader/setMaxStaleTimes.ts
  packages/modules/init-capital/src/actions/subactions/tx-builders/LsdApi3ProxyOracleReader/setQuoteTokens.test.ts
  packages/modules/init-capital/src/actions/subactions/tx-builders/LsdApi3ProxyOracleReader/setQuoteTokens.ts
Due: none

remove bun.lockb
  bun.lockb
Due: none

add new bun.lockb
  bun.lockb
Due: none

fix bun version
  .github/actions/setup-and-install/action.yml
Due: none

update changeset
  .changeset/rare-ducks-smash.md
Due: none

feat(init-capital): add deploy and set tokensInfo for lsd api3 proxy oracle reader
  packages/modules/init-capital/src/actions/__mock__/address.ts
  packages/modules/init-capital/src/actions/__mock__/setup.ts
  packages/modules/init-capital/src/actions/deployLsdApi3ProxyOracleReader.ts
  packages/modules/init-capital/src/actions/setLsdApi3ProxyOracleReaderTokensInfo.test.ts
  packages/modules/init-capital/src/actions/setLsdApi3ProxyOracleReaderTokensInfo.ts
  packages/modules/init-capital/src/actions/subactions/deployLsdApi3ProxyOracleReaderProxy.ts
  packages/modules/init-capital/src/actions/subactions/initializeLsdApi3ProxyOracleReader.ts
  packages/modules/init-capital/src/actions/subactions/tx-builders/LsdApi3ProxyOracleReader/initialize.ts
  packages/modules/init-capital/src/actions/subactions/tx-builders/LsdApi3ProxyOracleReader/setMaxStaleTimes.ts
Due: none

feat(init-capital): add lsdapi3 to set new pool oracle reader
  packages/modules/init-capital/src/actions/subactions/setNewPoolOracleReader.ts
Due: none

feat(init-capital): add test case for lsdApi3
  packages/modules/init-capital/src/actions/subactions/setNewPoolOracleReader.test.ts
Due: none

remove unused code
  packages/modules/init-capital/src/actions/setLsdApi3ProxyOracleReaderTokensInfo.test.ts
Due: none

feat(init-capital): add lsdApi3 for supportNewPools action
  packages/modules/init-capital/src/actions/supportNewPools.ts
Due: none

test(init-capital): add supportNewPools test (lsdapi3)
  packages/modules/init-capital/src/actions/__mock__/address.ts
  packages/modules/init-capital/src/actions/supportNewPools.test.ts
Due: none

fix(init-capital): fix priceId validation
  packages/modules/init-capital/src/actions/subactions/setNewPoolOracleReader.ts
Due: none

pass currentRegistry to subAction validate
  packages/core/src/base/action.ts
Due: infinit-xyz/core

feat: add FeeVault (#145)
  .changeset/rare-ducks-smash.md
  .github/actions/setup-and-install/action.yml
  bun.lockb
  packages/modules/aave-v3/contracts/fee-vault/hardhat.config.cjs
  packages/modules/aave-v3/package.json
  packages/modules/aave-v3/scripts/postInstall.ts
  packages/modules/aave-v3/scripts/postpack.ts
  packages/modules/aave-v3/scripts/prepack.ts
  packages/modules/aave-v3/src/actions/__mock__/setup.ts
  packages/modules/aave-v3/src/actions/__test__/configureRewards.test.ts
  packages/modules/aave-v3/src/actions/__test__/deployAaveV3.test.ts
  packages/modules/aave-v3/src/actions/deployAaveV3.ts
  packages/modules/aave-v3/src/actions/subactions/deployAaveV3Contracts_2.ts
  packages/modules/aave-v3/src/actions/subactions/tx-builders/FeeVault/deploy.ts
  packages/modules/aave-v3/src/type.ts
  packages/modules/uniswap-v3/contracts/fee-vault/hardhat.config.cjs
  packages/modules/uniswap-v3/package.json
  packages/modules/uniswap-v3/scripts/postInstall.ts
  packages/modules/uniswap-v3/scripts/postpack.ts
  packages/modules/uniswap-v3/scripts/prepack.ts
  packages/modules/uniswap-v3/src/actions/__test__/collectProtocol.test.ts
  packages/modules/uniswap-v3/src/actions/__test__/deployUniswapV3.test.ts
  packages/modules/uniswap-v3/src/actions/collectProtocol.ts
  packages/modules/uniswap-v3/src/actions/deployUniswapV3.ts
  packages/modules/uniswap-v3/src/actions/subactions/deployUniswapV3Contracts2.ts
  packages/modules/uniswap-v3/src/actions/subactions/tx-builders/FeeVault/deploy.ts
  packages/modules/uniswap-v3/src/type.ts
  packages/modules/uniswap-v3/src/utils/__snapshots__/contract-verifier.test.ts.snap
Due: infinit-xyz/aave-v3, infinit-xyz/uniswap-v3

fix typo
  packages/modules/init-capital/src/actions/deployLsdApi3ProxyOracleReader.test.ts
  packages/modules/init-capital/src/actions/subactions/tx-builders/LsdApi3ProxyOracleReader/setMaxStaleTimes.test.ts
Due: none

add changeset
  .changeset/poor-windows-kiss.md
  .changeset/spicy-plants-fly.md
Due: none

update changeset
  .changeset/loud-lies-know.md
  .changeset/small-donuts-tease.md
Due: none

deployLsdApi3ProxyOracleReader action read from registry
  packages/modules/init-capital/src/actions/deployLsdApi3ProxyOracleReader.test.ts
  packages/modules/init-capital/src/actions/deployLsdApi3ProxyOracleReader.ts
Due: none

refactor: change to read contract address from registry
  packages/modules/uniswap-v3/scripts/postInstall.ts
  packages/modules/uniswap-v3/scripts/postpack.ts
  packages/modules/uniswap-v3/src/actions/__test__/collectProtocol.test.ts
  packages/modules/uniswap-v3/src/actions/__test__/createIncentives.test.ts
  packages/modules/uniswap-v3/src/actions/__test__/deployUniswapV3Staker.test.ts
  packages/modules/uniswap-v3/src/actions/__test__/enableFeeAmounts.test.ts
  packages/modules/uniswap-v3/src/actions/__test__/setFactoryOwner.test.ts
  packages/modules/uniswap-v3/src/actions/__test__/setFeeProtocol.test.ts
  packages/modules/uniswap-v3/src/actions/__test__/transferProxyAdminOwner.test.ts
  packages/modules/uniswap-v3/src/actions/createIncentives.ts
  packages/modules/uniswap-v3/src/actions/deployUniswapV3Staker.ts
  packages/modules/uniswap-v3/src/actions/enableFeeAmounts.ts
  packages/modules/uniswap-v3/src/actions/setFactoryOwner.ts
  packages/modules/uniswap-v3/src/actions/setFeeProtocol.ts
  packages/modules/uniswap-v3/src/actions/transferProxyAdminOwner.ts
Due: infinit-xyz/uniswap-v3

update changeset
  .changeset/smart-pets-cough.md
Due: none

fix(uniswap-v3): fix type
  packages/modules/uniswap-v3/src/actions/__mock__/utils.ts
Due: infinit-xyz/uniswap-v3

use registry for setLsdApiProxyOracleReaderTokensInfo action
  packages/modules/init-capital/src/actions/deployLsdApi3ProxyOracleReader.ts
  packages/modules/init-capital/src/actions/setApi3ProxyOracleReaderTokensInfo.test.ts
  packages/modules/init-capital/src/actions/setApi3ProxyOracleReaderTokensInfo.ts
  packages/modules/init-capital/src/actions/setLsdApi3ProxyOracleReaderTokensInfo.test.ts
  packages/modules/init-capital/src/actions/setLsdApi3ProxyOracleReaderTokensInfo.ts
Due: none

remove unused code and fix typo
  packages/modules/init-capital/src/actions/__mock__/setup.ts
  packages/modules/init-capital/src/actions/setLsdApi3ProxyOracleReaderTokensInfo.ts
Due: none

refactor
  packages/modules/init-capital/src/actions/deployLsdApi3ProxyOracleReader.ts
Due: none

resolve comments
  packages/modules/init-capital/src/actions/deployLsdApi3ProxyOracleReader.test.ts
  packages/modules/init-capital/src/actions/deployLsdApi3ProxyOracleReader.ts
  packages/modules/init-capital/src/actions/subactions/deployLsdApi3ProxyOracleReaderProxy.ts
  packages/modules/init-capital/src/actions/subactions/setNewPoolOracleReader.ts
Due: none

fix(uniswap-v3): add input validation
  packages/modules/uniswap-v3/src/actions/collectProtocol.ts
  packages/modules/uniswap-v3/src/actions/createIncentives.ts
  packages/modules/uniswap-v3/src/actions/deployUniswapV3Staker.ts
  packages/modules/uniswap-v3/src/actions/enableFeeAmounts.ts
  packages/modules/uniswap-v3/src/actions/setFactoryOwner.ts
  packages/modules/uniswap-v3/src/actions/setFeeProtocol.ts
  packages/modules/uniswap-v3/src/actions/transferProxyAdminOwner.ts
Due: infinit-xyz/uniswap-v3

fix typo
  packages/modules/init-capital/src/actions/setLsdApi3ProxyOracleReaderTokensInfo.ts
Due: none

feat(init-capital): add lsd api3 oracle (#146)
  .changeset/loud-lies-know.md
  .changeset/small-donuts-tease.md
  packages/core/src/base/action.ts
  packages/modules/init-capital/src/actions/__mock__/address.ts
  packages/modules/init-capital/src/actions/__mock__/setup.ts
  packages/modules/init-capital/src/actions/deployLsdApi3ProxyOracleReader.test.ts
  packages/modules/init-capital/src/actions/deployLsdApi3ProxyOracleReader.ts
  packages/modules/init-capital/src/actions/setApi3ProxyOracleReaderTokensInfo.ts
  packages/modules/init-capital/src/actions/setLsdApi3ProxyOracleReaderTokensInfo.test.ts
  packages/modules/init-capital/src/actions/setLsdApi3ProxyOracleReaderTokensInfo.ts
  packages/modules/init-capital/src/actions/subactions/deployLsdApi3ProxyOracleReader.ts
  packages/modules/init-capital/src/actions/subactions/deployLsdApi3ProxyOracleReaderProxy.ts
  packages/modules/init-capital/src/actions/subactions/initializeLsdApi3ProxyOracleReader.ts
  packages/modules/init-capital/src/actions/subactions/setLsdApi3ProxyOracleReaderDataFeedProxies.test.ts
  packages/modules/init-capital/src/actions/subactions/setLsdApi3ProxyOracleReaderDataFeedProxies.ts
  packages/modules/init-capital/src/actions/subactions/setLsdApi3ProxyOracleReaderMaxStaleTimes.test.ts
  packages/modules/init-capital/src/actions/subactions/setLsdApi3ProxyOracleReaderMaxStaleTimes.ts
  packages/modules/init-capital/src/actions/subactions/setLsdApi3ProxyOracleReaderQuoteTokens.test.ts
  packages/modules/init-capital/src/actions/subactions/setLsdApi3ProxyOracleReaderQuoteTokens.ts
  packages/modules/init-capital/src/actions/subactions/setNewPoolOracleReader.test.ts
  packages/modules/init-capital/src/actions/subactions/setNewPoolOracleReader.ts
  packages/modules/init-capital/src/actions/subactions/tx-builders/LsdApi3ProxyOracleReader/deploy.test.ts
  packages/modules/init-capital/src/actions/subactions/tx-builders/LsdApi3ProxyOracleReader/deploy.ts
  packages/modules/init-capital/src/actions/subactions/tx-builders/LsdApi3ProxyOracleReader/initialize.ts
  packages/modules/init-capital/src/actions/subactions/tx-builders/LsdApi3ProxyOracleReader/setDataFeedProxies.test.ts
  packages/modules/init-capital/src/actions/subactions/tx-builders/LsdApi3ProxyOracleReader/setDataFeedProxies.ts
  packages/modules/init-capital/src/actions/subactions/tx-builders/LsdApi3ProxyOracleReader/setMaxStaleTimes.test.ts
  packages/modules/init-capital/src/actions/subactions/tx-builders/LsdApi3ProxyOracleReader/setMaxStaleTimes.ts
  packages/modules/init-capital/src/actions/subactions/tx-builders/LsdApi3ProxyOracleReader/setQuoteTokens.test.ts
  packages/modules/init-capital/src/actions/subactions/tx-builders/LsdApi3ProxyOracleReader/setQuoteTokens.ts
  packages/modules/init-capital/src/actions/supportNewPools.test.ts
  packages/modules/init-capital/src/actions/supportNewPools.ts
Due: infinit-xyz/core

refactor(uniswap-v3) read contract address from registry (#147)
  .changeset/smart-pets-cough.md
  packages/modules/uniswap-v3/scripts/postInstall.ts
  packages/modules/uniswap-v3/scripts/postpack.ts
  packages/modules/uniswap-v3/src/actions/__mock__/utils.ts
  packages/modules/uniswap-v3/src/actions/__test__/collectProtocol.test.ts
  packages/modules/uniswap-v3/src/actions/__test__/createIncentives.test.ts
  packages/modules/uniswap-v3/src/actions/__test__/deployUniswapV3Staker.test.ts
  packages/modules/uniswap-v3/src/actions/__test__/enableFeeAmounts.test.ts
  packages/modules/uniswap-v3/src/actions/__test__/setFactoryOwner.test.ts
  packages/modules/uniswap-v3/src/actions/__test__/setFeeProtocol.test.ts
  packages/modules/uniswap-v3/src/actions/__test__/transferProxyAdminOwner.test.ts
  packages/modules/uniswap-v3/src/actions/collectProtocol.ts
  packages/modules/uniswap-v3/src/actions/createIncentives.ts
  packages/modules/uniswap-v3/src/actions/deployUniswapV3Staker.ts
  packages/modules/uniswap-v3/src/actions/enableFeeAmounts.ts
  packages/modules/uniswap-v3/src/actions/setFactoryOwner.ts
  packages/modules/uniswap-v3/src/actions/setFeeProtocol.ts
  packages/modules/uniswap-v3/src/actions/transferProxyAdminOwner.ts
Due: infinit-xyz/uniswap-v3

refactor(aave-v3): change to read contract from registry
  packages/modules/aave-v3/src/actions/__mock__/setup.ts
  packages/modules/aave-v3/src/actions/__test__/addAssetListingAdmin.test.ts
  packages/modules/aave-v3/src/actions/__test__/addEmergencyAdmin.test.ts
  packages/modules/aave-v3/src/actions/__test__/addPoolAdmin.test.ts
  packages/modules/aave-v3/src/actions/__test__/addRiskAdmin.test.ts
  packages/modules/aave-v3/src/actions/__test__/configureRewards.test.ts
  packages/modules/aave-v3/src/actions/__test__/deployAaveV3.test.ts
  packages/modules/aave-v3/src/actions/__test__/removeAssetListingAdmin.test.ts
  packages/modules/aave-v3/src/actions/__test__/removeEmergencyAdmin.test.ts
  packages/modules/aave-v3/src/actions/__test__/removePoolAdmin.test.ts
  packages/modules/aave-v3/src/actions/__test__/removeRiskAdmin.test.ts
  packages/modules/aave-v3/src/actions/__test__/setEmissionAdmin.test.ts
  packages/modules/aave-v3/src/actions/__test__/setInterestRateStrategyAddress.test.ts
  packages/modules/aave-v3/src/actions/__test__/setLiquidationBonus.test.ts
  packages/modules/aave-v3/src/actions/__test__/setLiquidationThreshold.test.ts
  packages/modules/aave-v3/src/actions/__test__/setLtv.test.ts
  packages/modules/aave-v3/src/actions/__test__/setResereveBorrowing.test.ts
  packages/modules/aave-v3/src/actions/__test__/setReservePause.test.ts
  packages/modules/aave-v3/src/actions/addAssetListingAdmin.ts
  packages/modules/aave-v3/src/actions/addEmergencyAdmin.ts
  packages/modules/aave-v3/src/actions/addPoolAdmin.ts
  packages/modules/aave-v3/src/actions/addRiskAdmin.ts
  packages/modules/aave-v3/src/actions/configureRewards.ts
  packages/modules/aave-v3/src/actions/removeAssetListingAdmin.ts
  packages/modules/aave-v3/src/actions/removeEmergencyAdmin.ts
  packages/modules/aave-v3/src/actions/removePoolAdmin.ts
  packages/modules/aave-v3/src/actions/removeRiskAdmin.ts
  packages/modules/aave-v3/src/actions/setAssetOracleSources.ts
  packages/modules/aave-v3/src/actions/setEmissionAdmin.ts
  packages/modules/aave-v3/src/actions/setInterestRateStrategyAddress.ts
  packages/modules/aave-v3/src/actions/setLiquidationBonus.ts
  packages/modules/aave-v3/src/actions/setLiquidationThreshold.ts
  packages/modules/aave-v3/src/actions/setLtv.ts
  packages/modules/aave-v3/src/actions/setReserveBorrowing.ts
  packages/modules/aave-v3/src/actions/setReservePause.ts
  packages/modules/aave-v3/src/actions/supportNewReserve.ts
Due: infinit-xyz/aave-v3

update changeset
  .changeset/early-houses-knock.md
Due: none

refactor for actions to use registry
  packages/modules/init-capital/src/actions/deployApi3ProxyOracleReader.test.ts
  packages/modules/init-capital/src/actions/deployApi3ProxyOracleReader.ts
  packages/modules/init-capital/src/actions/deployPythOracleReader.test.ts
  packages/modules/init-capital/src/actions/deployPythOracleReader.ts
  packages/modules/init-capital/src/actions/index.ts
  packages/modules/init-capital/src/actions/setApi3ProxyOracleReaderTokensInfo.ts
  packages/modules/init-capital/src/actions/setMaxPriceDeviation.test.ts
  packages/modules/init-capital/src/actions/setMaxPriceDeviation.ts
  packages/modules/init-capital/src/actions/setModeFactors.test.ts
  packages/modules/init-capital/src/actions/setModeFactors.ts
  packages/modules/init-capital/src/actions/setModeStatus.test.ts
  packages/modules/init-capital/src/actions/setModeStatus.ts
  packages/modules/init-capital/src/actions/setOracle.test.ts
  packages/modules/init-capital/src/actions/setOracle.ts
  packages/modules/init-capital/src/actions/setPoolConfig.test.ts
  packages/modules/init-capital/src/actions/setPoolConfig.ts
  packages/modules/init-capital/src/actions/setPythOracleReaderTokensInfo.test.ts
  packages/modules/init-capital/src/actions/setPythOracleReaderTokensInfo.ts
Due: none

fix duplicate import
  packages/modules/init-capital/src/actions/setMaxPriceDeviation.ts
Due: none

fix lint error
  packages/modules/init-capital/src/actions/setOracle.test.ts
Due: none

remove unused code
  packages/modules/init-capital/src/actions/__mock__/setup.ts
Due: none

add changeset
  .changeset/stale-kids-drop.md
Due: none

Path conditions:
  internal testing: any of: packages/test/**
  infinit-xyz/core: any of: packages/core/**
  infinit-xyz/aave-v3: any of: packages/modules/aave-v3/**
  infinit-xyz/uniswap-v3: any of: packages/modules/uniswap-v3/**
  infinit-xyz/token: any of: packages/modules/token/**
