Repository infinit-xyz/infinit-library: changes, and which Codecov flags are due for each by the changed paths.
All: internal testing, infinit-xyz/core, infinit-xyz/aave-v3, infinit-xyz/uniswap-v3, infinit-xyz/token

codecov.yaml:

codecov:
  require_ci_to_pass: false

comment:
  layout: 'header, diff, flags, files, components, footer'

coverage:
  status:
    project:
      default:
        informational: true
    patch:
      default:
        informational: true

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        branches:
          - '!main'
  individual_components:
    - component_id: module_test
      name: internal testing
      paths:
        - packages/test/**
    - component_id: module_core
      name: infinit-xyz/core
      paths:
        - packages/core/**
    - component_id: module_aave_v3
      name: infinit-xyz/aave-v3
      paths:
        - packages/modules/aave-v3/**
    - component_id: module_uniswap_v3
      name: infinit-xyz/uniswap-v3
      paths:
        - packages/modules/uniswap-v3/**
    - component_id: module_token
      name: infinit-xyz/token
      paths:
        - packages/modules/token/**

typo
  packages/test/src/setupFiles/resetTestClient.ts
Due: internal testing

increase test timeout
  packages/core/vitest.config.ts
Due: infinit-xyz/core

setup autoretry for `isBlockscout`
  packages/core/src/utils/contract-verifier/helper/__tests__/isBlockscout.test.ts
Due: infinit-xyz/core

set auto retry for all univ3 test
  packages/modules/uniswap-v3/vitest.config.ts
Due: infinit-xyz/uniswap-v3

disable foundry cache
  .github/workflows/check.yml
Due: none

add retry to deploy aave v3 test
  packages/modules/aave-v3/src/actions/__test__/deployAaveV3.test.ts
Due: infinit-xyz/aave-v3

fix(test): improve setup files and global setup (#115)
  .github/workflows/check.yml
  packages/core/src/utils/contract-verifier/helper/__tests__/isBlockscout.test.ts
  packages/core/vitest.config.ts
  packages/modules/aave-v3/src/actions/__test__/deployAaveV3.test.ts
  packages/modules/uniswap-v3/vitest.config.ts
  packages/test/src/globalSetup.ts
  packages/test/src/setupFiles/resetTestClient.ts
  packages/test/src/utils.test.ts
  packages/test/src/utils.ts
  vitest.config.ts
Due: internal testing, infinit-xyz/core, infinit-xyz/aave-v3, infinit-xyz/uniswap-v3

update `setupUniswapV3` to use `TestInfinitWallet`
  packages/modules/uniswap-v3/src/actions/__mock__/utils.ts
Due: infinit-xyz/uniswap-v3

remove retry in univ3 vitest config
  packages/modules/uniswap-v3/vitest.config.ts
Due: infinit-xyz/uniswap-v3

add retry for deploy all init capital
  packages/modules/init-capital/src/actions/deployInitCapital.test.ts
Due: none

fix deploy init captal action
  packages/modules/init-capital/src/actions/deployInitCapital.ts
  packages/modules/init-capital/src/actions/subactions/deployInitCapitalContracts3.ts
  packages/modules/init-capital/src/actions/subactions/deployInitCapitalContracts5.ts
  packages/modules/init-capital/src/actions/subactions/deployInitCapitalContracts6.ts
  packages/modules/init-capital/src/actions/subactions/tx-builders/Config/initialize.ts
  packages/modules/init-capital/src/actions/subactions/tx-builders/InitOracle/initialize.ts
  packages/modules/init-capital/src/actions/subactions/tx-builders/LiqIncentiveCalculator/initialize.ts
  packages/modules/init-capital/src/actions/subactions/tx-builders/MoneyMarketHook/initialize.ts
  packages/modules/init-capital/src/actions/subactions/tx-builders/RiskManager/initialize.ts
Due: none

fix comments
  packages/modules/init-capital/src/actions/subactions/tx-builders/AccessControlManager/acceptDefaultAdminTransfer.ts
  packages/modules/init-capital/src/actions/subactions/tx-builders/AccessControlManager/addGovernor.ts
  packages/modules/init-capital/src/actions/subactions/tx-builders/AccessControlManager/addGuardian.ts
  packages/modules/init-capital/src/actions/subactions/tx-builders/AccessControlManager/beginDefaultAdminTransfer.ts
  packages/modules/init-capital/src/actions/subactions/tx-builders/Config/deployProxy.ts
  packages/modules/init-capital/src/actions/subactions/tx-builders/Config/initialize.ts
  packages/modules/init-capital/src/actions/subactions/tx-builders/DoubleSlopeIRM/deploy.ts
  packages/modules/init-capital/src/actions/subactions/tx-builders/InitCore/deploy.ts
  packages/modules/init-capital/src/actions/subactions/tx-builders/InitCore/initialize.ts
  packages/modules/init-capital/src/actions/subactions/tx-builders/InitLens/deploy.ts
  packages/modules/init-capital/src/actions/subactions/tx-builders/InitOracle/deploy.ts
  packages/modules/init-capital/src/actions/subactions/tx-builders/LendingPool/deploy.ts
  packages/modules/init-capital/src/actions/subactions/tx-builders/LiqIncentiveCalculator/deploy.ts
  packages/modules/init-capital/src/actions/subactions/tx-builders/MoneyMarketHook/deploy.ts
  packages/modules/init-capital/src/actions/subactions/tx-builders/PosManager/deploy.ts
  packages/modules/init-capital/src/actions/subactions/tx-builders/RiskManager/deploy.ts
  packages/modules/init-capital/src/type.ts
Due: none

fix error type
  packages/modules/init-capital/src/actions/subactions/tx-builders/TransparentUpgradeableProxy/deploy.ts
  packages/modules/init-capital/src/actions/subactions/tx-builders/TransparentUpgradeableProxyReceiveETH/deploy.ts
Due: none

fix bug
  packages/modules/init-capital/src/actions/subactions/deployInitCapitalContracts5.ts
Due: none

fix validate zero address errors
  packages/modules/init-capital/src/actions/subactions/tx-builders/AccessControlManager/acceptDefaultAdminTransfer.ts
  packages/modules/init-capital/src/actions/subactions/tx-builders/AccessControlManager/beginDefaultAdminTransfer.ts
  packages/modules/init-capital/src/actions/subactions/tx-builders/Config/deploy.ts
  packages/modules/init-capital/src/actions/subactions/tx-builders/Config/deployProxy.ts
  packages/modules/init-capital/src/actions/subactions/tx-builders/Config/initialize.ts
  packages/modules/init-capital/src/actions/subactions/tx-builders/InitCore/deploy.ts
  packages/modules/init-capital/src/actions/subactions/tx-builders/InitCore/initialize.ts
  packages/modules/init-capital/src/actions/subactions/tx-builders/InitLens/deploy.ts
  packages/modules/init-capital/src/actions/subactions/tx-builders/InitOracle/deploy.ts
  packages/modules/init-capital/src/actions/subactions/tx-builders/InitOracle/initialize.ts
  packages/modules/init-capital/src/actions/subactions/tx-builders/LendingPool/deploy.ts
  packages/modules/init-capital/src/actions/subactions/tx-builders/LiqIncentiveCalculator/deploy.ts
  packages/modules/init-capital/src/actions/subactions/tx-builders/LiqIncentiveCalculator/initialize.ts
  packages/modules/init-capital/src/actions/subactions/tx-builders/MoneyMarketHook/deploy.ts
  packages/modules/init-capital/src/actions/subactions/tx-builders/MoneyMarketHook/initialize.ts
  packages/modules/init-capital/src/actions/subactions/tx-builders/PosManager/deploy.ts
  packages/modules/init-capital/src/actions/subactions/tx-builders/RiskManager/deploy.ts
  packages/modules/init-capital/src/actions/subactions/tx-builders/RiskManager/initialize.ts
  packages/modules/init-capital/src/actions/subactions/tx-builders/TransparentUpgradeableProxy/deploy.ts
  packages/modules/init-capital/src/actions/subactions/tx-builders/TransparentUpgradeableProxyReceiveETH/deploy.ts
Due: none

fix comments
  packages/modules/init-capital/src/actions/subactions/tx-builders/AccessControlManager/acceptDefaultAdminTransfer.ts
  packages/modules/init-capital/src/actions/subactions/tx-builders/AccessControlManager/beginDefaultAdminTransfer.ts
Due: none

remove unused file
  packages/modules/init-capital/src/actions/__tests__/.gitkeep
  packages/modules/init-capital/src/actions/__tests__/deployInitCapital.test.ts
Due: none

remove unused file
  packages/modules/init-capital/src/actions/__tests__/.gitkeep
Due: none

add setModeFactors action
  packages/modules/init-capital/src/actions/setModeFactors.ts
  packages/modules/init-capital/src/actions/subactions/setBorrFactors.test.ts
  packages/modules/init-capital/src/actions/subactions/setBorrFactors.ts
  packages/modules/init-capital/src/actions/subactions/setCollFactors.test.ts
  packages/modules/init-capital/src/actions/subactions/setCollFactors.ts
  packages/modules/init-capital/src/actions/subactions/setModeFactors.test.ts
  packages/modules/init-capital/src/actions/subactions/setModeFactors.ts
  packages/modules/init-capital/src/actions/subactions/tx-builders/Config/setBorrFactors_e18.ts
  packages/modules/init-capital/src/actions/subactions/tx-builders/Config/setCollFactors_e18.ts
Due: none

fix type
  packages/modules/init-capital/src/actions/setIrm.test.ts
  packages/modules/init-capital/src/actions/setPoolConfig.test.ts
Due: none

remove unused files
  packages/modules/init-capital/src/actions/__tests__/.gitkeep
  packages/modules/init-capital/src/actions/__tests__/deployInitCapital.test.ts
Due: none

remove unused files
  packages/modules/init-capital/src/actions/__tests__/.gitkeep
Due: none

changelog
  .changeset/sour-lobsters-taste.md
Due: none

typo
  packages/modules/init-capital/src/actions/setPoolConfig.test.ts
  packages/modules/init-capital/src/actions/subactions/setPoolConfig.test.ts
  packages/modules/init-capital/src/actions/subactions/setPoolConfigs.ts
Due: none

changelog
  .changeset/six-stingrays-play.md
Due: none

changelog
  .changeset/spotty-tigers-raise.md
Due: none

set auto retry on setup univ3 when failed
  packages/modules/uniswap-v3/src/actions/__mock__/utils.ts
Due: infinit-xyz/uniswap-v3

update error message
  packages/modules/uniswap-v3/src/actions/__mock__/utils.ts
Due: infinit-xyz/uniswap-v3

set auto retry on setup univ3 when failed (#116)
  packages/modules/uniswap-v3/src/actions/__mock__/utils.ts
Due: infinit-xyz/uniswap-v3

minor fix
  packages/modules/init-capital/src/actions/subactions/tx-builders/Config/setPoolConfig.test.ts
  packages/modules/init-capital/src/actions/subactions/tx-builders/Config/setPoolConfig.ts
Due: none

feat(init): set pool config action (#93)
  .changeset/six-stingrays-play.md
  packages/modules/init-capital/src/actions/__tests__/.gitkeep
  packages/modules/init-capital/src/actions/setPoolConfig.test.ts
  packages/modules/init-capital/src/actions/setPoolConfig.ts
  packages/modules/init-capital/src/actions/subactions/setPoolConfig.test.ts
  packages/modules/init-capital/src/actions/subactions/setPoolConfig.ts
  packages/modules/init-capital/src/actions/subactions/tx-builders/Config/setPoolConfig.test.ts
  packages/modules/init-capital/src/actions/subactions/tx-builders/Config/setPoolConfig.ts
Due: none

update == to ===
  packages/modules/aave-v3/src/actions/subactions/tx-builders/aaveEcosystemReserveV2/initializeAaveEcosystemReserveV2.ts
  packages/modules/aave-v3/src/actions/subactions/tx-builders/aclManager/grantRole.ts
  packages/modules/aave-v3/src/actions/subactions/tx-builders/aclManager/revokeRole.ts
Due: infinit-xyz/aave-v3

changelog
  .changeset/serious-rocks-rescue.md
Due: none

typo
  packages/modules/init-capital/src/actions/subactions/tx-builders/Pool/setIrm.ts
Due: none

feat: set liq incentive
  packages/modules/init-capital/src/actions/setLiqIncentiveCalculator.test.ts
  packages/modules/init-capital/src/actions/setLiqIncentiveCalculator.ts
  packages/modules/init-capital/src/actions/subactions/setLiqIncentiveCalculator.test.ts
  packages/modules/init-capital/src/actions/subactions/setLiqIncentiveCalculator.ts
  packages/modules/init-capital/src/actions/subactions/tx-builders/InitCore/setLiqIncentiveCalculator.test.ts
  packages/modules/init-capital/src/actions/subactions/tx-builders/InitCore/setLiqIncentiveCalculator.ts
Due: none

feat(init): set irm (#94)
  .changeset/spotty-tigers-raise.md
  packages/modules/init-capital/src/actions/setIrm.test.ts
  packages/modules/init-capital/src/actions/setIrm.ts
  packages/modules/init-capital/src/actions/subactions/setIrm.test.ts
  packages/modules/init-capital/src/actions/subactions/setIrm.ts
  packages/modules/init-capital/src/actions/subactions/tx-builders/Pool/setIrm.test.ts
  packages/modules/init-capital/src/actions/subactions/tx-builders/Pool/setIrm.ts
Due: none

fix(aave-v3): fix if statement with two equal (#117)
  .changeset/serious-rocks-rescue.md
  packages/modules/aave-v3/src/actions/subactions/tx-builders/aaveEcosystemReserveV2/initializeAaveEcosystemReserveV2.ts
  packages/modules/aave-v3/src/actions/subactions/tx-builders/aclManager/grantRole.ts
  packages/modules/aave-v3/src/actions/subactions/tx-builders/aclManager/revokeRole.ts
Due: infinit-xyz/aave-v3

changelog
  .changeset/tiny-keys-roll.md
Due: none
