Repository infinit-xyz/infinit-library: changes, and which Codecov flags are due for each by the changed paths.
All: internal testing, infinit-xyz/core, infinit-xyz/aave-v3, infinit-xyz/uniswap-v3, infinit-xyz/token

codecov.yaml:

codecov:
  require_ci_to_pass: false

comment:
  layout: 'header, diff, flags, files, components, footer'

coverage:
  status:
    project:
      default:
        informational: true
    patch:
      default:
        informational: true

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        branches:
          - '!main'
  individual_components:
    - component_id: module_test
      name: internal testing
      paths:
        - packages/test/**
    - component_id: module_core
      name: infinit-xyz/core
      paths:
        - packages/core/**
    - component_id: module_aave_v3
      name: infinit-xyz/aave-v3
      paths:
        - packages/modules/aave-v3/**
    - component_id: module_uniswap_v3
      name: infinit-xyz/uniswap-v3
      paths:
        - packages/modules/uniswap-v3/**
    - component_id: module_token
      name: infinit-xyz/token
      paths:
        - packages/modules/token/**

move remappings to getRemappings function
  packages/core/src/utils/contract-verifier/helper/getDependencyGraph.ts
Due: infinit-xyz/core

fix typo
  packages/core/src/utils/contract-verifier/helper/getDependencyGraph.ts
Due: infinit-xyz/core

add project root to getRemappings
  packages/core/src/utils/contract-verifier/helper/getDependencyGraph.ts
Due: infinit-xyz/core

fix(core): verify contracts bug (#192)
  .changeset/stupid-panthers-prove.md
  packages/core/src/utils/contract-verifier/helper/getDependencyGraph.ts
  packages/core/src/utils/contract-verifier/helper/getMinimalSources.ts
Due: infinit-xyz/core

bump core version on modules
  packages/modules/aave-v3/package.json
  packages/modules/init-capital/package.json
  packages/modules/pendle/package.json
  packages/modules/token/package.json
  packages/modules/uniswap-v3/package.json
Due: infinit-xyz/aave-v3, infinit-xyz/uniswap-v3, infinit-xyz/token

add changeset
  .changeset/many-plants-love.md
Due: none

chore:bump core version on modules (#194)
  .changeset/many-plants-love.md
  packages/modules/aave-v3/package.json
  packages/modules/init-capital/package.json
  packages/modules/pendle/package.json
  packages/modules/token/package.json
  packages/modules/uniswap-v3/package.json
Due: infinit-xyz/aave-v3, infinit-xyz/uniswap-v3, infinit-xyz/token

fix projectRoot in the sourceName
  packages/core/src/utils/contract-verifier/helper/getDependencyGraph.ts
Due: infinit-xyz/core

format and lint
  packages/core/src/utils/contract-verifier/helper/getDependencyGraph.ts
Due: infinit-xyz/core

add changeset
  .changeset/silent-lies-bake.md
Due: none

Update getDependencyGraph.ts
  packages/core/src/utils/contract-verifier/helper/getDependencyGraph.ts
Due: infinit-xyz/core

fix(core): fix projectRoot in the sourceName (#197)
  .changeset/silent-lies-bake.md
  packages/core/src/utils/contract-verifier/helper/getDependencyGraph.ts
Due: infinit-xyz/core

fix resolve
  packages/core/src/utils/contract-verifier/helper/getDependencyGraph.ts
Due: infinit-xyz/core

fix resolve path
  .changeset/pretty-crews-perform.md
  packages/core/src/utils/contract-verifier/helper/getDependencyGraph.ts
Due: infinit-xyz/core

fix lint
  packages/core/src/utils/contract-verifier/helper/getDependencyGraph.ts
Due: infinit-xyz/core

fix(core): resolve path (#199)
  .changeset/pretty-crews-perform.md
  packages/core/src/utils/contract-verifier/helper/getDependencyGraph.ts
Due: infinit-xyz/core

bump version
  packages/modules/aave-v3/package.json
  packages/modules/init-capital/package.json
  packages/modules/pendle/package.json
  packages/modules/token/package.json
  packages/modules/uniswap-v3/package.json
Due: infinit-xyz/aave-v3, infinit-xyz/uniswap-v3, infinit-xyz/token

bump core version
  .changeset/fast-boats-promise.md
Due: none

chore: bump core version (#201)
  .changeset/fast-boats-promise.md
  packages/modules/aave-v3/package.json
  packages/modules/init-capital/package.json
  packages/modules/pendle/package.json
  packages/modules/token/package.json
  packages/modules/uniswap-v3/package.json
Due: infinit-xyz/aave-v3, infinit-xyz/uniswap-v3, infinit-xyz/token

bump viem version
  .changeset/dry-candles-heal.md
  packages/core/package.json
  packages/modules/aave-v3/package.json
  packages/modules/init-capital/package.json
  packages/modules/pendle/package.json
  packages/modules/pendle/package/package.json
  packages/modules/token/package.json
  packages/modules/uniswap-v3/package.json
  packages/test/package.json
Due: internal testing, infinit-xyz/core, infinit-xyz/aave-v3, infinit-xyz/uniswap-v3, infinit-xyz/token

lockfile
  bun.lockb
Due: none

fix release to ignore check
  .github/workflows/release.yml
Due: none
