Repository infinit-xyz/infinit-library: changes, and which Codecov flags are due for each by the changed paths.
All: internal testing, infinit-xyz/core, infinit-xyz/aave-v3, infinit-xyz/uniswap-v3, infinit-xyz/token

update tsconfig
  packages/core/package.json
  packages/core/src/exports/internal/hardhat-base.config.ts
  packages/core/tsconfig.json
  packages/core/tsup.config.ts
  packages/modules/aave-v3/tsconfig.json
  packages/modules/token/tsconfig.json
  packages/modules/uniswap-v3/tsconfig.json
  tsconfig.base.json
Due: infinit-xyz/core, infinit-xyz/aave-v3, infinit-xyz/uniswap-v3, infinit-xyz/token

update lockfile
  bun.lockb
Due: none

update core tsconfig
  packages/core/tsconfig.json
Due: infinit-xyz/core

fix: change default value
  packages/core/src/utils/contract-verifier/baseContractVerifier.ts
Due: infinit-xyz/core

feat: add isBlockscout helper
  packages/core/src/utils/contract-verifier/helper/index.ts
  packages/core/src/utils/contract-verifier/helper/isBlockscout.ts
  packages/core/src/utils/contract-verifier/index.ts
Due: infinit-xyz/core

feat: bypass constructor params for blockscout
  packages/core/src/utils/contract-verifier/helper/verifyContract.ts
Due: infinit-xyz/core

feat: handle v2 api
  packages/core/src/utils/contract-verifier/baseContractVerifier.ts
Due: infinit-xyz/core

test: add tests
  packages/core/src/utils/contract-verifier/helper/__tests__/__snapshots__/getContractCreationCode.test.ts.snap
  packages/core/src/utils/contract-verifier/helper/__tests__/getConstructorArgsFromCreationCode.test.ts
  packages/core/src/utils/contract-verifier/helper/__tests__/getContractCreationCode.test.ts
  packages/core/src/utils/contract-verifier/helper/__tests__/getContractInformation.test.ts
  packages/core/src/utils/contract-verifier/helper/__tests__/getCreationCodeWithOutMetadata.test.ts
  packages/core/src/utils/contract-verifier/helper/__tests__/isBlockscout.test.ts
  packages/core/src/utils/contract-verifier/helper/__tests__/resolveLinkedLibraries.test.ts
Due: infinit-xyz/core

Fix `verify-contracts` build
  .changeset/modern-pugs-beam.md
  packages/core/tsup.config.ts
Due: infinit-xyz/core

test: update artifacts path
  packages/core/src/utils/contract-verifier/helper/__tests__/getConstructorArgsFromCreationCode.test.ts
  packages/core/src/utils/contract-verifier/helper/__tests__/getContractInformation.test.ts
  packages/core/src/utils/contract-verifier/helper/__tests__/getCreationCodeWithOutMetadata.test.ts
  packages/core/src/utils/contract-verifier/helper/__tests__/resolveLinkedLibraries.test.ts
Due: infinit-xyz/core

chore: typo
  packages/core/src/utils/contract-verifier/helper/__tests__/getConstructorArgsFromCreationCode.test.ts
Due: infinit-xyz/core

chore: typo
  packages/core/src/utils/contract-verifier/helper/verifyContract.ts
Due: infinit-xyz/core

update to use `tsup-node`
  packages/core/package.json
Due: infinit-xyz/core

changelog
  .changeset/tame-pugs-marry.md
Due: none

update dependencies to tsup external
  bun.lockb
  packages/core/package.json
  packages/core/tsup.config.ts
Due: infinit-xyz/core

update changelog
  .changeset/tame-pugs-marry.md
Due: none

lockfile
  bun.lockb
Due: none

chore(core): improve bundle size (#68)
  .changeset/tame-pugs-marry.md
  bun.lockb
  packages/core/package.json
  packages/core/tsup.config.ts
Due: infinit-xyz/core

update bundle and dependencies
  bun.lockb
  packages/core/package.json
  packages/core/tsup.config.ts
  packages/modules/aave-v3/package.json
  packages/modules/aave-v3/tsup.config.ts
  packages/modules/token/package.json
  packages/modules/token/tsup.config.ts
  packages/modules/uniswap-v3/package.json
  packages/modules/uniswap-v3/tsup.config.ts
Due: infinit-xyz/core, infinit-xyz/aave-v3, infinit-xyz/uniswap-v3, infinit-xyz/token

add axios as dependency
  bun.lockb
  packages/core/package.json
  packages/core/tsup.config.ts
Due: infinit-xyz/core

update snapshot
  packages/core/src/exports/internal/__snapshots__/index.test.ts.snap
  packages/core/src/utils/contract-verifier/__snapshots__/index.test.ts.snap
Due: infinit-xyz/core

update getCreationCodeFromBlockExplorer test
  packages/core/src/utils/contract-verifier/helper/__tests__/__snapshots__/getContractCreationCode.test.ts.snap
  packages/core/src/utils/contract-verifier/helper/__tests__/getContractCreationCode.integration.test.ts
Due: infinit-xyz/core

update snapshot
  packages/core/src/utils/contract-verifier/helper/__tests__/__snapshots__/getContractCreationCode.integration.test.ts.snap
Due: infinit-xyz/core

incease check timeout to 10min
  .github/workflows/check.yml
Due: none

fix: remove line that handle v2 api
  packages/core/src/utils/contract-verifier/baseContractVerifier.ts
Due: infinit-xyz/core

chore: change to use absolute path
  packages/core/src/errors/contractVerifier.test.ts
  packages/core/src/utils/contract-verifier/baseContractVerifier.test.ts
  packages/core/src/utils/contract-verifier/baseContractVerifier.ts
Due: infinit-xyz/core

fix: update lock file
  bun.lockb
Due: none

changeset: update changeset
  .changeset/quiet-forks-cough.md
Due: none

update changelog
  .changeset/funny-colts-turn.md
  .changeset/quiet-forks-cough.md
Due: none

refactor: isBlockscout
  packages/core/src/utils/contract-verifier/helper/isBlockscout.ts
Due: infinit-xyz/core

update changelog
  .changeset/poor-bugs-wash.md
Due: none

refactor: read api key from .env
  .env.example
  packages/core/src/utils/contract-verifier/helper/__tests__/getConstructorArgsFromCreationCode.test.ts
  packages/core/src/utils/contract-verifier/helper/__tests__/getContractCreationCode.integration.test.ts
  packages/core/src/utils/contract-verifier/helper/__tests__/resolveLinkedLibraries.test.ts
  packages/core/src/utils/contract-verifier/helper/__tests__/verifyContract.test.ts
Due: infinit-xyz/core

update cicd
  .github/workflows/check.yml
Due: none

chore: format and lint
  packages/core/src/utils/contract-verifier/helper/__tests__/getConstructorArgsFromCreationCode.test.ts
  packages/core/src/utils/contract-verifier/helper/__tests__/getContractCreationCode.integration.test.ts
  packages/core/src/utils/contract-verifier/helper/__tests__/resolveLinkedLibraries.test.ts
  packages/core/src/utils/contract-verifier/helper/__tests__/verifyContract.test.ts
Due: infinit-xyz/core

Path conditions:
  internal testing: any of: packages/test/**
  infinit-xyz/core: any of: packages/core/**
  infinit-xyz/aave-v3: any of: packages/modules/aave-v3/**
  infinit-xyz/uniswap-v3: any of: packages/modules/uniswap-v3/**
  infinit-xyz/token: any of: packages/modules/token/**
