Repository infinit-xyz/infinit-library: changes, and which Codecov flags are due for each by the changed paths.
All: internal testing, infinit-xyz/core, infinit-xyz/aave-v3, infinit-xyz/uniswap-v3, infinit-xyz/token

fix typo
  packages/modules/init-capital/src/actions/setPythOracleReaderTokensInfo.ts
Due: none

remove redundant code
  packages/modules/init-capital/src/actions/setMaxPriceDeviation.ts
  packages/modules/init-capital/src/actions/setModeStatus.ts
  packages/modules/init-capital/src/actions/setOracle.ts
Due: none

fix to use registry for mock
  packages/modules/init-capital/src/actions/__mock__/setup.ts
Due: none

refactor(aave-v3): use registry (#149)
  .changeset/early-houses-knock.md
  packages/modules/aave-v3/src/actions/__mock__/setup.ts
  packages/modules/aave-v3/src/actions/__test__/addAssetListingAdmin.test.ts
  packages/modules/aave-v3/src/actions/__test__/addEmergencyAdmin.test.ts
  packages/modules/aave-v3/src/actions/__test__/addPoolAdmin.test.ts
  packages/modules/aave-v3/src/actions/__test__/addRiskAdmin.test.ts
  packages/modules/aave-v3/src/actions/__test__/configureRewards.test.ts
  packages/modules/aave-v3/src/actions/__test__/deployAaveV3.test.ts
  packages/modules/aave-v3/src/actions/__test__/removeAssetListingAdmin.test.ts
  packages/modules/aave-v3/src/actions/__test__/removeEmergencyAdmin.test.ts
  packages/modules/aave-v3/src/actions/__test__/removePoolAdmin.test.ts
  packages/modules/aave-v3/src/actions/__test__/removeRiskAdmin.test.ts
  packages/modules/aave-v3/src/actions/__test__/setEmissionAdmin.test.ts
  packages/modules/aave-v3/src/actions/__test__/setInterestRateStrategyAddress.test.ts
  packages/modules/aave-v3/src/actions/__test__/setLiquidationBonus.test.ts
  packages/modules/aave-v3/src/actions/__test__/setLiquidationThreshold.test.ts
  packages/modules/aave-v3/src/actions/__test__/setLtv.test.ts
  packages/modules/aave-v3/src/actions/__test__/setResereveBorrowing.test.ts
  packages/modules/aave-v3/src/actions/__test__/setReservePause.test.ts
  packages/modules/aave-v3/src/actions/addAssetListingAdmin.ts
  packages/modules/aave-v3/src/actions/addEmergencyAdmin.ts
  packages/modules/aave-v3/src/actions/addPoolAdmin.ts
  packages/modules/aave-v3/src/actions/addRiskAdmin.ts
  packages/modules/aave-v3/src/actions/configureRewards.ts
  packages/modules/aave-v3/src/actions/removeAssetListingAdmin.ts
  packages/modules/aave-v3/src/actions/removeEmergencyAdmin.ts
  packages/modules/aave-v3/src/actions/removePoolAdmin.ts
  packages/modules/aave-v3/src/actions/removeRiskAdmin.ts
  packages/modules/aave-v3/src/actions/setAssetOracleSources.ts
  packages/modules/aave-v3/src/actions/setEmissionAdmin.ts
  packages/modules/aave-v3/src/actions/setInterestRateStrategyAddress.ts
  packages/modules/aave-v3/src/actions/setLiquidationBonus.ts
  packages/modules/aave-v3/src/actions/setLiquidationThreshold.ts
  packages/modules/aave-v3/src/actions/setLtv.ts
  packages/modules/aave-v3/src/actions/setReserveBorrowing.ts
  packages/modules/aave-v3/src/actions/setReservePause.ts
  packages/modules/aave-v3/src/actions/supportNewReserve.ts
Due: infinit-xyz/aave-v3

feat(init-capital): add new modes actions and tests
  packages/modules/init-capital/src/actions/addNewModes.test.ts
  packages/modules/init-capital/src/actions/addNewModes.ts
Due: none

fix typo and add action to the index
  packages/modules/init-capital/src/actions/addNewModes.test.ts
  packages/modules/init-capital/src/actions/addNewModes.ts
  packages/modules/init-capital/src/actions/index.ts
Due: none

add check on test
  packages/modules/init-capital/src/actions/addNewModes.test.ts
  packages/modules/init-capital/src/actions/addNewModes.ts
Due: none

add set init oracle sources action
  packages/modules/init-capital/src/actions/addNewModes.ts
  packages/modules/init-capital/src/actions/setInitOracleSources.test.ts
  packages/modules/init-capital/src/actions/setInitOracleSources.ts
  packages/modules/init-capital/src/actions/supportNewPools.ts
Due: none

fix set init oracle sources and add test
  packages/modules/init-capital/src/actions/setInitOracleSources.test.ts
  packages/modules/init-capital/src/actions/setInitOracleSources.ts
Due: none

add module to index
  packages/modules/init-capital/src/actions/index.ts
Due: none

refactor(init-capital): use registry (#150)
  .changeset/stale-kids-drop.md
  packages/modules/init-capital/src/actions/__mock__/setup.ts
  packages/modules/init-capital/src/actions/deployApi3ProxyOracleReader.test.ts
  packages/modules/init-capital/src/actions/deployApi3ProxyOracleReader.ts
  packages/modules/init-capital/src/actions/deployPythOracleReader.test.ts
  packages/modules/init-capital/src/actions/deployPythOracleReader.ts
  packages/modules/init-capital/src/actions/index.ts
  packages/modules/init-capital/src/actions/setApi3ProxyOracleReaderTokensInfo.ts
  packages/modules/init-capital/src/actions/setMaxPriceDeviation.test.ts
  packages/modules/init-capital/src/actions/setMaxPriceDeviation.ts
  packages/modules/init-capital/src/actions/setModeFactors.test.ts
  packages/modules/init-capital/src/actions/setModeFactors.ts
  packages/modules/init-capital/src/actions/setModeStatus.test.ts
  packages/modules/init-capital/src/actions/setModeStatus.ts
  packages/modules/init-capital/src/actions/setOracle.test.ts
  packages/modules/init-capital/src/actions/setOracle.ts
  packages/modules/init-capital/src/actions/setPoolConfig.test.ts
  packages/modules/init-capital/src/actions/setPoolConfig.ts
  packages/modules/init-capital/src/actions/setPythOracleReaderTokensInfo.test.ts
  packages/modules/init-capital/src/actions/setPythOracleReaderTokensInfo.ts
Due: none

feat: link contracts
  bun.lockb
  packages/modules/pendle/README.md
  packages/modules/pendle/contracts/core-v2/hardhat.config.cjs
  packages/modules/pendle/package.json
  packages/modules/pendle/scripts/postInstall.ts
  packages/modules/pendle/tsconfig.json
  packages/modules/pendle/tsup.config.ts
  packages/modules/pendle/vitest.config.ts
Due: none

fix: add prepack&postpack
  packages/modules/pendle/package/README.md
  packages/modules/pendle/package/package.json
  packages/modules/pendle/scripts/postpack.ts
  packages/modules/pendle/scripts/prepack.ts
Due: none

add new mode and fix typo
  packages/modules/init-capital/src/actions/addNewModes.test.ts
  packages/modules/init-capital/src/actions/addNewModes.ts
  packages/modules/init-capital/src/actions/index.ts
  packages/modules/init-capital/src/actions/setInitOracleSources.test.ts
Due: none

add changeset
  .changeset/sharp-jokes-wash.md
Due: none

init actions
  packages/modules/pendle/src/actions/index.test.ts
  packages/modules/pendle/src/actions/index.ts
  packages/modules/pendle/src/constants.ts
  packages/modules/pendle/src/index.test.ts
  packages/modules/pendle/src/index.ts
  packages/modules/pendle/src/type.ts
Due: none

fix: conflict dependencies
  packages/modules/token/contracts/infinit-erc20-contracts/hardhat.config.cjs
  packages/modules/token/package.json
Due: infinit-xyz/token

fix: bug
  packages/modules/token/contracts/infinit-erc20-contracts/hardhat.config.cjs
Due: infinit-xyz/token

resolve comments
  packages/modules/init-capital/src/actions/addNewModes.test.ts
  packages/modules/init-capital/src/actions/addNewModes.ts
Due: none

fix: conflict dependencies
  bun.lockb
  packages/modules/pendle/package.json
Due: none

remove log
  packages/modules/init-capital/src/actions/addNewModes.test.ts
Due: none

add more mode in test
  packages/modules/init-capital/src/actions/addNewModes.test.ts
Due: none

fix test
  packages/modules/init-capital/src/actions/addNewModes.test.ts
Due: none

add lsdApi3 to init oracle sources test
  packages/modules/init-capital/src/actions/setInitOracleSources.test.ts
Due: none

remove unused log in test and increase test hook timeout
  packages/modules/init-capital/src/actions/subactions/setModeAndTokenLiqMultiplier.test.ts
  packages/modules/init-capital/vitest.config.ts
Due: none

increase test and hook time out
  packages/modules/aave-v3/vitest.config.ts
  packages/modules/init-capital/vitest.config.ts
Due: infinit-xyz/aave-v3

add timeout and retry
  packages/modules/aave-v3/vitest.config.ts
  packages/modules/init-capital/vitest.config.ts
Due: infinit-xyz/aave-v3

increase retry
  packages/modules/aave-v3/vitest.config.ts
  packages/modules/init-capital/vitest.config.ts
Due: infinit-xyz/aave-v3

add test timeout
  packages/modules/token/vitest.config.ts
  packages/modules/uniswap-v3/vitest.config.ts
  packages/test/src/globalSetup.ts
  vitest.config.ts
Due: internal testing, infinit-xyz/uniswap-v3, infinit-xyz/token

increase test time
  vitest.config.ts
Due: none

feat: utils
  packages/modules/pendle/src/utils/artifact.ts
  packages/modules/pendle/src/utils/index.ts
Due: none

feat(pendle): add tx-builders deploy off-chain components
  packages/modules/pendle/src/actions/subactions/tx-builders/Multicall2/deploy.ts
  packages/modules/pendle/src/actions/subactions/tx-builders/PendleMulticallV2/deploy.ts
  packages/modules/pendle/src/actions/subactions/tx-builders/SimulateHelper/deploy.ts
  packages/modules/pendle/src/actions/subactions/tx-builders/SupplyCapReader/deploy.ts
Due: none

sort address before set factors
  packages/modules/init-capital/src/actions/addNewModes.ts
Due: none

add comments and sort on test
  packages/modules/init-capital/src/actions/addNewModes.test.ts
  packages/modules/init-capital/src/actions/addNewModes.ts
Due: none

reduce timeout time
  packages/modules/aave-v3/vitest.config.ts
  packages/modules/init-capital/vitest.config.ts
  packages/modules/token/vitest.config.ts
  packages/modules/uniswap-v3/vitest.config.ts
  vitest.config.ts
Due: infinit-xyz/aave-v3, infinit-xyz/uniswap-v3, infinit-xyz/token

reduce timeout
  packages/modules/token/vitest.config.ts
  packages/modules/uniswap-v3/vitest.config.ts
Due: infinit-xyz/uniswap-v3, infinit-xyz/token

add more tx builders
  packages/modules/pendle/src/actions/subactions/tx-builders/Multicall2/deploy.ts
  packages/modules/pendle/src/actions/subactions/tx-builders/PendleGovernanceProxy/deploy.ts
  packages/modules/pendle/src/actions/subactions/tx-builders/PendleGovernanceProxy/initialize.ts
  packages/modules/pendle/src/actions/subactions/tx-builders/PendleMulticallV2/deploy.ts
  packages/modules/pendle/src/actions/subactions/tx-builders/PendlePoolDeployHelper/deploy.ts
  packages/modules/pendle/src/actions/subactions/tx-builders/SimulateHelper/deploy.ts
  packages/modules/pendle/src/actions/subactions/tx-builders/deployOffChainHelpers.ts
  packages/modules/pendle/src/type.ts
Due: none

fix sort logic and add validates and tests
  packages/modules/init-capital/src/actions/addNewModes.ts
  packages/modules/init-capital/src/actions/subactions/tx-builders/Config/setBorrFactors_e18.test.ts
  packages/modules/init-capital/src/actions/subactions/tx-builders/Config/setBorrFactors_e18.ts
  packages/modules/init-capital/src/actions/subactions/tx-builders/Config/setCollFactors_e18.test.ts
  packages/modules/init-capital/src/actions/subactions/tx-builders/Config/setCollFactors_e18.ts
Due: none

Path conditions:
  internal testing: any of: packages/test/**
  infinit-xyz/core: any of: packages/core/**
  infinit-xyz/aave-v3: any of: packages/modules/aave-v3/**
  infinit-xyz/uniswap-v3: any of: packages/modules/uniswap-v3/**
  infinit-xyz/token: any of: packages/modules/token/**
