Repository infinit-xyz/infinit-library: changes, and which Codecov flags are due for each by the changed paths.
All: internal testing, infinit-xyz/core, infinit-xyz/aave-v3, infinit-xyz/uniswap-v3, infinit-xyz/token

remove compile cache
  .github/actions/setup-and-install/action.yml
Due: none

chore(ci/cd): remove compile cache (#87)
  .github/actions/setup-and-install/action.yml
Due: none

refactor: move contracts to node_modules
  bun.lockb
  packages/modules/token/contracts/infinit-erc20-contracts/hardhat.config.cjs
  packages/modules/token/contracts/infinit-erc20-contracts/openzeppelin-contracts/toCompile.sol
  packages/modules/token/contracts/infinit/airdrop/AccumulativeMerkleDistributor.sol
  packages/modules/token/contracts/infinit/airdrop/SweepTokenOwnable.sol
  packages/modules/token/contracts/infinit/airdrop/TokenDistributor.sol
  packages/modules/token/contracts/infinit/interfaces/IMerkleDistributor.sol
  packages/modules/token/contracts/infinit/interfaces/IWETH.sol
  packages/modules/token/contracts/infinit/libraries/BoringOwnableUpgradeable.sol
  packages/modules/token/contracts/infinit/libraries/TokenHelper.sol
  packages/modules/token/contracts/infinit/tokens/InfinitERC20.sol
  packages/modules/token/contracts/infinit/tokens/InfinitERC20Burnable.sol
  packages/modules/token/package.json
  packages/modules/token/scripts/postInstall.ts
  packages/modules/token/scripts/postpack.ts
  packages/modules/token/scripts/prepack.ts
Due: infinit-xyz/token

chore: rm whitespaces
  packages/modules/token/package.json
Due: infinit-xyz/token

fix(init-captial): change version
  packages/modules/init-capital/package.json
Due: none

move toCompile
  packages/modules/token/contracts/infinit-erc20-contracts/toCompile.sol
Due: infinit-xyz/token

update clean script
  packages/modules/token/package.json
Due: infinit-xyz/token

update infinit erc20 package name
  bun.lockb
  packages/modules/token/package.json
  packages/modules/token/scripts/postInstall.ts
Due: infinit-xyz/token

run lint
  packages/modules/token/scripts/postInstall.ts
  packages/modules/token/scripts/postpack.ts
  packages/modules/token/scripts/prepack.ts
Due: infinit-xyz/token

update codecov config
  codecov.yaml
Due: none

typo
  codecov.yaml
Due: none

chore(cicd): update codecov config (#89)
  codecov.yaml
Due: none

feat(init-capital): init new module (#85)
  .changeset/grumpy-horses-cross.md
  bun.lockb
  packages/core/src/exports/internal/hardhat-base.config.cts
  packages/modules/init-capital/README.md
  packages/modules/init-capital/contracts/.gitkeep
  packages/modules/init-capital/contracts/init-capital/hardhat.config.cjs
  packages/modules/init-capital/package.json
  packages/modules/init-capital/scripts/postInstall.ts
  packages/modules/init-capital/scripts/postpack.ts
  packages/modules/init-capital/scripts/prepack.ts
  packages/modules/init-capital/src/actions/__tests__/.gitkeep
  packages/modules/init-capital/src/actions/index.test.ts
  packages/modules/init-capital/src/actions/index.ts
  packages/modules/init-capital/src/actions/subactions/txBuilders/.gitkeep
  packages/modules/init-capital/src/constants.ts
  packages/modules/init-capital/src/index.test.ts
  packages/modules/init-capital/src/index.ts
  packages/modules/init-capital/src/type.ts
  packages/modules/init-capital/src/utils/artifact.ts
  packages/modules/init-capital/tsconfig.json
  packages/modules/init-capital/tsup.config.ts
  packages/modules/init-capital/vitest.config.ts
Due: infinit-xyz/core

bump aave-v3-oracle-adapter to newer version
  bun.lockb
  packages/modules/aave-v3/package.json
Due: infinit-xyz/aave-v3

remove aggreagtor from name
  packages/modules/aave-v3/src/actions/__test__/deployApi3Adapter.test.ts
  packages/modules/aave-v3/src/actions/__test__/deployBandAdapter.test.ts
  packages/modules/aave-v3/src/actions/__test__/deployPythAdapter.test.ts
  packages/modules/aave-v3/src/actions/deployAaveV3.ts
  packages/modules/aave-v3/src/actions/deployAggregatorApi3Adapter.ts
  packages/modules/aave-v3/src/actions/deployAggregatorBandAdapter.ts
  packages/modules/aave-v3/src/actions/deployAggregatorPythAdapter.ts
  packages/modules/aave-v3/src/actions/deployApi3Adapter.ts
  packages/modules/aave-v3/src/actions/deployBandAdapter.ts
  packages/modules/aave-v3/src/actions/deployPythAdapter.ts
  packages/modules/aave-v3/src/actions/subactions/__test__/deployApi3Adapter.test.ts
  packages/modules/aave-v3/src/actions/subactions/__test__/deployBandAdapter.test.ts
  packages/modules/aave-v3/src/actions/subactions/__test__/deployPythAdapter.test.ts
  packages/modules/aave-v3/src/actions/subactions/deployAggregatorBandAdapter.ts
  packages/modules/aave-v3/src/actions/subactions/deployAggregatorPythAdapter.ts
  packages/modules/aave-v3/src/actions/subactions/deployApi3Adapter.ts
  packages/modules/aave-v3/src/actions/subactions/deployBandAdapter.ts
  packages/modules/aave-v3/src/actions/subactions/deployPythAdapter.ts
  packages/modules/aave-v3/src/actions/subactions/tx-builders/__test__/deployApi3AdapterTxBuilder.test.ts
  packages/modules/aave-v3/src/actions/subactions/tx-builders/__test__/deployBandAdapterTxBuilder.test.ts
  packages/modules/aave-v3/src/actions/subactions/tx-builders/__test__/deployPythAdapterTxBuilder.test.ts
  packages/modules/aave-v3/src/actions/subactions/tx-builders/api3Adapter/deploy.ts
  packages/modules/aave-v3/src/actions/subactions/tx-builders/bandAdapter/deploy.ts
  packages/modules/aave-v3/src/actions/subactions/tx-builders/pythAdapter/deploy.ts
  packages/modules/aave-v3/src/type.ts
  packages/modules/aave-v3/src/utils/contract-verifier.ts
Due: infinit-xyz/aave-v3

fix registry for oracle adapters
  packages/modules/aave-v3/src/type.ts
Due: infinit-xyz/aave-v3

add docs
  packages/modules/aave-v3/src/actions/deployApi3Adapter.ts
  packages/modules/aave-v3/src/actions/deployBandAdapter.ts
  packages/modules/aave-v3/src/actions/deployPythAdapter.ts
  packages/modules/aave-v3/src/actions/subactions/deployApi3Adapter.ts
  packages/modules/aave-v3/src/actions/subactions/deployBandAdapter.ts
  packages/modules/aave-v3/src/actions/subactions/deployPythAdapter.ts
Due: infinit-xyz/aave-v3

update name description
  packages/modules/aave-v3/src/actions/deployApi3Adapter.ts
  packages/modules/aave-v3/src/actions/deployBandAdapter.ts
  packages/modules/aave-v3/src/actions/deployPythAdapter.ts
Due: infinit-xyz/aave-v3

refactor(token): move contracts to node_modules (#88)
  bun.lockb
  packages/modules/token/contracts/infinit-erc20-contracts/hardhat.config.cjs
  packages/modules/token/contracts/infinit-erc20-contracts/toCompile.sol
  packages/modules/token/contracts/infinit/airdrop/AccumulativeMerkleDistributor.sol
  packages/modules/token/contracts/infinit/airdrop/SweepTokenOwnable.sol
  packages/modules/token/contracts/infinit/airdrop/TokenDistributor.sol
  packages/modules/token/contracts/infinit/interfaces/IMerkleDistributor.sol
  packages/modules/token/contracts/infinit/interfaces/IWETH.sol
  packages/modules/token/contracts/infinit/libraries/BoringOwnableUpgradeable.sol
  packages/modules/token/contracts/infinit/libraries/TokenHelper.sol
  packages/modules/token/contracts/infinit/tokens/InfinitERC20.sol
  packages/modules/token/contracts/infinit/tokens/InfinitERC20Burnable.sol
  packages/modules/token/package.json
  packages/modules/token/scripts/postInstall.ts
  packages/modules/token/scripts/postpack.ts
  packages/modules/token/scripts/prepack.ts
Due: infinit-xyz/token

lockfile
  bun.lockb
Due: none

fix typo
  packages/modules/aave-v3/src/actions/deployApi3Adapter.ts
  packages/modules/aave-v3/src/actions/deployBandAdapter.ts
Due: infinit-xyz/aave-v3

bump viem version from 2.21.16 to 2.21.28
  bun.lockb
  packages/core/package.json
  packages/modules/aave-v3/package.json
  packages/modules/init-capital/package.json
  packages/modules/token/package.json
  packages/modules/uniswap-v3/package.json
  packages/test/package.json
Due: internal testing, infinit-xyz/core, infinit-xyz/aave-v3, infinit-xyz/uniswap-v3, infinit-xyz/token

changelog
  .changeset/ten-dolphins-provide.md
Due: none

chore(deps): bump viem from 2.21.16 to 2.21.28 (#91)
  .changeset/ten-dolphins-provide.md
  bun.lockb
  packages/core/package.json
  packages/modules/aave-v3/package.json
  packages/modules/init-capital/package.json
  packages/modules/token/package.json
  packages/modules/uniswap-v3/package.json
  packages/test/package.json
Due: internal testing, infinit-xyz/core, infinit-xyz/aave-v3, infinit-xyz/uniswap-v3, infinit-xyz/token

fix: mv infinit-erc20-contracts out of @infinit-xyz
  packages/modules/token/scripts/postpack.ts
Due: infinit-xyz/token

refactor(token): move contracts to node_modules (#92)
  bun.lockb
  packages/modules/token/scripts/postpack.ts
Due: infinit-xyz/token

feat: setPoolConfig action
  packages/modules/init-capital/src/actions/setPoolConfig.ts
  packages/modules/init-capital/src/actions/subactions/setPoolConfig.ts
  packages/modules/init-capital/src/actions/subactions/txBuilders/Config/setPoolConfig.ts
Due: none

feat: set irm
  packages/modules/init-capital/src/actions/setIrm.ts
  packages/modules/init-capital/src/actions/subactions/setIrm.ts
  packages/modules/init-capital/src/actions/subactions/txBuilders/Pool/setIrm.ts
Due: none

add wallet address to tx callbacks
  packages/core/src/base/__test__/subAction.test.ts
  packages/core/src/base/subAction.ts
  packages/core/src/infinit-wallet/index.ts
  packages/core/src/types/callback.ts
Due: infinit-xyz/core

add changeset
  .changeset/flat-games-work.md
Due: none

rename subActions
  packages/modules/init-capital/src/actions/subActions/setPoolConfig.ts
  packages/modules/init-capital/src/actions/subActions/txBuilders/.gitkeep
  packages/modules/init-capital/src/actions/subActions/txBuilders/Config/setPoolConfig.ts
Due: none

feat: set mode status
  packages/modules/init-capital/src/actions/setModeStatuses.ts
  packages/modules/init-capital/src/actions/subActions/setModeStatuses.ts
  packages/modules/init-capital/src/actions/subActions/txBuilders/Config/setModeStatus.ts
Due: none

update changeset
  .changeset/flat-games-work.md
Due: none

feat(core): add wallet address to tx callbacks (#95)
  .changeset/flat-games-work.md
  packages/core/src/base/__test__/subAction.test.ts
  packages/core/src/base/subAction.ts
  packages/core/src/infinit-wallet/index.ts
  packages/core/src/types/callback.ts
Due: infinit-xyz/core

fix: add ceck guardian role
  packages/modules/init-capital/src/actions/subActions/txBuilders/Config/setPoolConfig.ts
Due: none

move test
  packages/core/src/base/action.test.ts
  packages/core/src/base/subAction.test.ts
  packages/core/src/base/txBuilder.test.ts
Due: infinit-xyz/core

refactor callback types
  packages/core/src/base/action.ts
  packages/core/src/types/callback/action.ts
  packages/core/src/types/callback/contractVerifier.ts
  packages/core/src/types/index.ts
  packages/core/src/utils/contract-verifier/baseContractVerifier.test.ts
  packages/core/src/utils/contract-verifier/baseContractVerifier.ts
  packages/core/src/utils/contract-verifier/helper/verifyContract.ts
  packages/core/src/utils/contract-verifier/index.ts
Due: infinit-xyz/core

add offChainAction and test
  packages/core/src/base/offChainAction.test.ts
  packages/core/src/base/offChainAction.ts
  packages/core/src/types/callback/offChainAction.ts
Due: infinit-xyz/core

Path conditions:
  internal testing: any of: packages/test/**
  infinit-xyz/core: any of: packages/core/**
  infinit-xyz/aave-v3: any of: packages/modules/aave-v3/**
  infinit-xyz/uniswap-v3: any of: packages/modules/uniswap-v3/**
  infinit-xyz/token: any of: packages/modules/token/**
