Repository infinit-xyz/infinit-library: changes, and which Codecov flags are due for each by the changed paths.
All: internal testing, infinit-xyz/core, infinit-xyz/aave-v3, infinit-xyz/uniswap-v3, infinit-xyz/token

codecov.yaml:

codecov:
  require_ci_to_pass: false

comment:
  layout: 'header, diff, flags, files, components, footer'

coverage:
  status:
    project:
      default:
        informational: true
    patch:
      default:
        informational: true

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        branches:
          - '!main'
  individual_components:
    - component_id: module_test
      name: internal testing
      paths:
        - packages/test/**
    - component_id: module_core
      name: infinit-xyz/core
      paths:
        - packages/core/**
    - component_id: module_aave_v3
      name: infinit-xyz/aave-v3
      paths:
        - packages/modules/aave-v3/**
    - component_id: module_uniswap_v3
      name: infinit-xyz/uniswap-v3
      paths:
        - packages/modules/uniswap-v3/**
    - component_id: module_token
      name: infinit-xyz/token
      paths:
        - packages/modules/token/**

refactor callback
  packages/core/src/base/__mock__/txBuilder.mock.ts
  packages/core/src/base/action.ts
  packages/core/src/base/subAction.test.ts
  packages/core/src/base/subAction.ts
  packages/core/src/base/txBuilder.ts
  packages/core/src/exports/__snapshots__/index.test.ts.snap
  packages/core/src/exports/index.test.ts
  packages/core/src/exports/index.ts
  packages/core/src/exports/internal/__snapshots__/index.test.ts.snap
  packages/core/src/infinit-wallet/index.ts
  packages/core/src/types/callback/action.ts
  packages/core/src/types/index.ts
  packages/core/src/utils/contract-verifier/__snapshots__/index.test.ts.snap
  packages/core/tsup.config.ts
  packages/modules/aave-v3/src/actions/subactions/tx-builders/aToken/initialize.ts
  packages/modules/aave-v3/src/actions/subactions/tx-builders/delegationAwareAToken/initialize.ts
Due: infinit-xyz/core, infinit-xyz/aave-v3

changelog
  .changeset/eight-rings-try.md
  .changeset/rotten-feet-yell.md
  .changeset/shaggy-rules-tease.md
Due: none

update validate zod
  packages/core/src/utils/validate.ts
  packages/core/src/utils/zod.ts
Due: infinit-xyz/core

feat(init-captial): add mirgate ownership
  packages/modules/init-capital/src/actions/__mock__/account.ts
  packages/modules/init-capital/src/actions/__tests__/deployInitCapital.test.ts
  packages/modules/init-capital/src/actions/deployInitCapital.ts
  packages/modules/init-capital/src/actions/subactions/acceptDefaultAdminTransfer.ts
  packages/modules/init-capital/src/actions/subactions/addGovernor.ts
  packages/modules/init-capital/src/actions/subactions/addGuardian.ts
  packages/modules/init-capital/src/actions/subactions/tx-builders/AccessControlManager/addGovernor.ts
  packages/modules/init-capital/src/actions/subactions/tx-builders/AccessControlManager/addGuardian.ts
  packages/modules/init-capital/src/actions/subactions/tx-builders/AccessControlManager/addPoolAdmin.ts
  packages/modules/init-capital/src/actions/subactions/tx-builders/utils.ts
Due: none

chore(init-captial): lint
  packages/modules/init-capital/src/actions/subactions/beginDefaultAdminTransfer.ts
  packages/modules/init-capital/src/actions/subactions/deployInitCapitalContracts1.ts
  packages/modules/init-capital/src/actions/subactions/deployInitCapitalContracts2.ts
  packages/modules/init-capital/src/actions/subactions/deployInitCapitalContracts3.ts
  packages/modules/init-capital/src/actions/subactions/deployInitCapitalContracts4.ts
  packages/modules/init-capital/src/actions/subactions/deployInitCapitalContracts5.ts
  packages/modules/init-capital/src/actions/subactions/deployInitCapitalContracts6.ts
  packages/modules/init-capital/src/actions/subactions/deployInitCoreImpl.ts
  packages/modules/init-capital/src/actions/subactions/deployInitCoreProxy.ts
  packages/modules/init-capital/src/actions/subactions/transferProxyAdminOwner.ts
  packages/modules/init-capital/src/actions/subactions/tx-builders/AccessControlManager/acceptDefaultAdminTransfer.ts
  packages/modules/init-capital/src/actions/subactions/tx-builders/AccessControlManager/beginDefaultAdminTransfer.ts
  packages/modules/init-capital/src/actions/subactions/tx-builders/Config/deploy.ts
  packages/modules/init-capital/src/actions/subactions/tx-builders/Config/deployProxy.ts
  packages/modules/init-capital/src/actions/subactions/tx-builders/InitCore/deploy.ts
  packages/modules/init-capital/src/actions/subactions/tx-builders/InitLens/deploy.ts
  packages/modules/init-capital/src/actions/subactions/tx-builders/InitOracle/deploy.ts
  packages/modules/init-capital/src/actions/subactions/tx-builders/InitOracle/deployProxy.ts
  packages/modules/init-capital/src/actions/subactions/tx-builders/LendingPool/deploy.ts
  packages/modules/init-capital/src/actions/subactions/tx-builders/LiqIncentiveCalculator/deploy.ts
  packages/modules/init-capital/src/actions/subactions/tx-builders/LiqIncentiveCalculator/deployProxy.ts
  packages/modules/init-capital/src/actions/subactions/tx-builders/MoneyMarketHook/deploy.ts
  packages/modules/init-capital/src/actions/subactions/tx-builders/MoneyMarketHook/deployProxy.ts
  packages/modules/init-capital/src/actions/subactions/tx-builders/PosManager/deploy.ts
  packages/modules/init-capital/src/actions/subactions/tx-builders/PosManager/initialize.ts
  packages/modules/init-capital/src/actions/subactions/tx-builders/RiskManager/deploy.ts
  packages/modules/init-capital/src/actions/subactions/tx-builders/RiskManager/deployProxy.ts
  packages/modules/init-capital/src/type.ts
Due: none

feat(init-captial): export deploy init-capital action
  packages/modules/init-capital/src/actions/index.ts
Due: none

validate user rewards in merkle tree util
  packages/modules/token/src/utils/merkleTree/index.ts
Due: infinit-xyz/token

add validate zod object
  .changeset/khaki-dragons-heal.md
  packages/core/src/exports/internal/__snapshots__/index.test.ts.snap
  packages/core/src/utils/zod.ts
  packages/modules/token/src/off-chain-actions/__snapshots__/getMerkleTreeProofs.test.ts.snap
  packages/modules/token/src/off-chain-actions/getMerkleTreeProofs.test.ts
  packages/modules/token/src/off-chain-actions/getMerkleTreeProofs.ts
  packages/modules/token/src/utils/__snapshots__/contract-verifier.test.ts.snap
  packages/modules/token/src/utils/merkleTree/type.ts
  packages/modules/uniswap-v3/src/utils/__snapshots__/contract-verifier.test.ts.snap
Due: infinit-xyz/core, infinit-xyz/uniswap-v3, infinit-xyz/token

update offChainAction
  packages/core/src/base/offChainAction.test.ts
  packages/core/src/base/offChainAction.ts
  packages/core/src/exports/__snapshots__/index.test.ts.snap
  packages/core/src/types/callback/offChainAction.ts
  packages/core/src/types/index.ts
  packages/core/src/types/offChainAction.ts
  packages/modules/aave-v3/src/utils/__snapshots__/contract-verifier.test.ts.snap
  packages/modules/token/src/actions/__tests__/getProofMerkleTree.test.ts
  packages/modules/token/src/actions/__tests__/setMerkleRoot.test.ts
  packages/modules/token/src/actions/getProofMerkleTree.ts
  packages/modules/token/src/actions/index.ts
  packages/modules/token/src/off-chain-actions/index.test.ts
  packages/modules/token/src/off-chain-actions/index.ts
  packages/modules/token/src/type.ts
  packages/modules/token/tsconfig.json
Due: infinit-xyz/core, infinit-xyz/aave-v3, infinit-xyz/token

changelog
  .changeset/funny-kids-brush.md
Due: none

update offchainaction
  packages/core/src/base/offChainAction.ts
Due: infinit-xyz/core

fix(init-captial): fix type
  packages/modules/init-capital/src/actions/subactions/tx-builders/AccessControlManager/addGuardian.ts
Due: none

test: add setPoolConfig tests
  packages/modules/init-capital/src/actions/setPoolConfig.test.ts
  packages/modules/init-capital/src/actions/setPoolConfig.ts
  packages/modules/init-capital/src/actions/subActions/setPoolConfig.test.ts
  packages/modules/init-capital/src/actions/subActions/setPoolConfig.ts
  packages/modules/init-capital/src/actions/subActions/tx-builders/Config/setPoolConfig.test.ts
  packages/modules/init-capital/src/actions/subActions/tx-builders/Config/setPoolConfig.ts
Due: none

add registry
  packages/core/src/base/offChainAction.ts
Due: infinit-xyz/core

fix(init-captial): remove unused code
  packages/modules/init-capital/src/actions/__mock__/utils.ts
Due: none

fix(init-captial): rename type
  packages/modules/init-capital/src/actions/subactions/tx-builders/PosManager/initialize.ts
Due: none

add `name` field
  packages/core/src/base/offChainAction.ts
Due: infinit-xyz/core

update field
  packages/modules/token/src/off-chain-actions/getMerkleTreeProofs.ts
Due: infinit-xyz/token

fix failed test
  packages/core/src/base/offChainAction.test.ts
  packages/modules/token/src/off-chain-actions/getMerkleTreeProofs.test.ts
Due: infinit-xyz/core, infinit-xyz/token

fix: change name
  packages/modules/init-capital/src/actions/setPoolConfig.test.ts
  packages/modules/init-capital/src/actions/setPoolConfig.ts
  packages/modules/init-capital/src/actions/subActions/setPoolConfig.ts
  packages/modules/init-capital/src/actions/subActions/tx-builders/Config/setPoolConfig.test.ts
Due: none

update subactions path
  packages/modules/init-capital/src/actions/subActions/acceptDefaultAdminTransfer.ts
  packages/modules/init-capital/src/actions/subActions/addGovernor.ts
  packages/modules/init-capital/src/actions/subActions/addGuardian.ts
  packages/modules/init-capital/src/actions/subActions/beginDefaultAdminTransfer.ts
  packages/modules/init-capital/src/actions/subActions/deployInitCapitalContracts1.ts
  packages/modules/init-capital/src/actions/subActions/deployInitCapitalContracts2.ts
  packages/modules/init-capital/src/actions/subActions/deployInitCapitalContracts3.ts
  packages/modules/init-capital/src/actions/subActions/deployInitCapitalContracts4.ts
  packages/modules/init-capital/src/actions/subActions/deployInitCapitalContracts5.ts
  packages/modules/init-capital/src/actions/subActions/deployInitCapitalContracts6.ts
  packages/modules/init-capital/src/actions/subActions/deployInitCoreImpl.ts
  packages/modules/init-capital/src/actions/subActions/deployInitCoreProxy.ts
  packages/modules/init-capital/src/actions/subActions/setPoolConfigs.ts
  packages/modules/init-capital/src/actions/subActions/transferProxyAdminOwner.ts
  packages/modules/init-capital/src/actions/subActions/tx-builders/AccessControlManager/acceptDefaultAdminTransfer.ts
  packages/modules/init-capital/src/actions/subActions/tx-builders/AccessControlManager/addGovernor.ts
  packages/modules/init-capital/src/actions/subActions/tx-builders/AccessControlManager/addGuardian.ts
  packages/modules/init-capital/src/actions/subActions/tx-builders/AccessControlManager/beginDefaultAdminTransfer.ts
  packages/modules/init-capital/src/actions/subActions/tx-builders/AccessControlManager/deploy.ts
  packages/modules/init-capital/src/actions/subActions/tx-builders/Config/deploy.ts
  packages/modules/init-capital/src/actions/subActions/tx-builders/Config/deployProxy.ts
  packages/modules/init-capital/src/actions/subActions/tx-builders/InitCore/deploy.ts
  packages/modules/init-capital/src/actions/subActions/tx-builders/InitCore/initialize.ts
  packages/modules/init-capital/src/actions/subActions/tx-builders/InitLens/deploy.ts
  packages/modules/init-capital/src/actions/subActions/tx-builders/InitOracle/deploy.ts
  packages/modules/init-capital/src/actions/subActions/tx-builders/InitOracle/deployProxy.ts
  packages/modules/init-capital/src/actions/subActions/tx-builders/LendingPool/deploy.ts
  packages/modules/init-capital/src/actions/subActions/tx-builders/LiqIncentiveCalculator/deploy.ts
  packages/modules/init-capital/src/actions/subActions/tx-builders/LiqIncentiveCalculator/deployProxy.ts
  packages/modules/init-capital/src/actions/subActions/tx-builders/MoneyMarketHook/deploy.ts
  packages/modules/init-capital/src/actions/subActions/tx-builders/MoneyMarketHook/deployProxy.ts
  packages/modules/init-capital/src/actions/subActions/tx-builders/PosManager/deploy.ts
  packages/modules/init-capital/src/actions/subActions/tx-builders/PosManager/initialize.ts
  packages/modules/init-capital/src/actions/subActions/tx-builders/ProxyAdmin/deploy.ts
  packages/modules/init-capital/src/actions/subActions/tx-builders/ProxyAdmin/transferOwner.ts
  packages/modules/init-capital/src/actions/subActions/tx-builders/RiskManager/deploy.ts
  packages/modules/init-capital/src/actions/subActions/tx-builders/RiskManager/deployProxy.ts
  packages/modules/init-capital/src/actions/subActions/tx-builders/TransparentUpgradeableProxy/deploy.ts
  packages/modules/init-capital/src/actions/subActions/tx-builders/TransparentUpgradeableProxyReceiveETH/deploy.ts
  packages/modules/init-capital/src/actions/subActions/tx-builders/utils.ts
Due: none

delete txBuilders
  packages/modules/init-capital/src/actions/subActions/txBuilders/.gitkeep
Due: none

exclude some files from coverage
  vitest.config.ts
Due: none

fix: del unused files
  packages/modules/init-capital/src/actions/subactions/setPoolConfigs.ts
  packages/modules/init-capital/src/actions/subactions/txBuilders/Config/setPoolConfig.ts
Due: none

feat(init-capital): add deploy irms
  packages/modules/init-capital/src/actions/deployInitCapital.test.ts
  packages/modules/init-capital/src/actions/deployInitCapital.ts
  packages/modules/init-capital/src/actions/subactions/deployDoubleSlopeIRMs.ts
  packages/modules/init-capital/src/actions/subactions/tx-builders/DoubleSlopeIRM/deploy.ts
Due: none

test: set irm action
  packages/modules/init-capital/src/actions/setIrm.test.ts
  packages/modules/init-capital/src/actions/setIrm.ts
  packages/modules/init-capital/src/actions/subactions/setIrm.test.ts
  packages/modules/init-capital/src/actions/subactions/setIrm.ts
  packages/modules/init-capital/src/actions/subactions/setPoolConfig.test.ts
  packages/modules/init-capital/src/actions/subactions/tx-builders/Pool/setIrm.test.ts
  packages/modules/init-capital/src/actions/subactions/tx-builders/Pool/setIrm.ts
Due: none

minor fix
  packages/core/src/base/offChainAction.test.ts
  packages/core/src/base/offChainAction.ts
  packages/modules/token/src/off-chain-actions/getMerkleTreeProofs.test.ts
  packages/modules/token/src/off-chain-actions/getMerkleTreeProofs.ts
Due: infinit-xyz/core, infinit-xyz/token

decrease maxThreads to be 6
  vitest.config.ts
Due: none

test: set mode status
  packages/modules/init-capital/src/actions/setModeStatuses.test.ts
  packages/modules/init-capital/src/actions/setModeStatuses.ts
  packages/modules/init-capital/src/actions/subactions/setModeStatuses.test.ts
  packages/modules/init-capital/src/actions/subactions/setModeStatuses.ts
  packages/modules/init-capital/src/actions/subactions/tx-builders/Config/setModeStatus.test.ts
Due: none

chore(deps): update @infinit-xyz/core dependency to version ^0.1.0-alpha.6
  packages/modules/aave-v3/package.json
  packages/modules/init-capital/package.json
  packages/modules/token/package.json
  packages/modules/uniswap-v3/package.json
Due: infinit-xyz/aave-v3, infinit-xyz/uniswap-v3, infinit-xyz/token

add changeset
  .changeset/four-cars-act.md
Due: none

fix test failed
  packages/modules/aave-v3/src/actions/__test__/configureRewards.test.ts
Due: infinit-xyz/aave-v3

remove console log
  packages/modules/aave-v3/src/actions/__test__/configureRewards.test.ts
Due: infinit-xyz/aave-v3

fix(aave-v3): fix test failed (#102)
  packages/modules/aave-v3/src/actions/__test__/configureRewards.test.ts
Due: infinit-xyz/aave-v3

changelog
  .changeset/nice-walls-approve.md
Due: none

feat(token): add changelog (#104)
  .changeset/nice-walls-approve.md
Due: none

fix: wrong acm
  packages/modules/init-capital/src/actions/subactions/tx-builders/Config/setPoolConfig.ts
Due: none

fix: read acm from pool
  packages/modules/init-capital/src/actions/subactions/tx-builders/Pool/setIrm.ts
Due: none
