Repository infinit-xyz/infinit-library: changes, and which Codecov flags are due for each by the changed paths.
All: internal testing, infinit-xyz/core, infinit-xyz/aave-v3, infinit-xyz/uniswap-v3, infinit-xyz/token

codecov.yaml:

codecov:
  require_ci_to_pass: false

comment:
  layout: 'header, diff, flags, files, components, footer'

coverage:
  status:
    project:
      default:
        informational: true
    patch:
      default:
        informational: true

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        branches:
          - '!main'
  individual_components:
    - component_id: module_test
      name: internal testing
      paths:
        - packages/test/**
    - component_id: module_core
      name: infinit-xyz/core
      paths:
        - packages/core/**
    - component_id: module_aave_v3
      name: infinit-xyz/aave-v3
      paths:
        - packages/modules/aave-v3/**
    - component_id: module_uniswap_v3
      name: infinit-xyz/uniswap-v3
      paths:
        - packages/modules/uniswap-v3/**
    - component_id: module_token
      name: infinit-xyz/token
      paths:
        - packages/modules/token/**

fix: add changeset for protocol modules (#111)
  .changeset/afraid-mugs-confess.md
Due: none

update maxThreads to 4
  vitest.config.ts
Due: none

fix: try to test only one module
  .github/workflows/check.yml
Due: none

feat: set max price deviations oracle & tests
  packages/modules/init-capital/src/actions/setMaxPriceDeviations_e18.test.ts
  packages/modules/init-capital/src/actions/setMaxPriceDeviations_e18.ts
  packages/modules/init-capital/src/actions/subactions/setMaxPriceDeviations_e18.test.ts
  packages/modules/init-capital/src/actions/subactions/setMaxPriceDeviations_e18.ts
  packages/modules/init-capital/src/actions/subactions/tx-builders/InitOracle/setMaxPriceDeviations_e18.test.ts
  packages/modules/init-capital/src/actions/subactions/tx-builders/InitOracle/setMaxPriceDeviations_e18.ts
Due: none

debug: log timestamp
  packages/modules/init-capital/src/actions/deployInitCapital.test.ts
  packages/modules/init-capital/src/actions/subactions/tx-builders/AccessControlManager/acceptDefaultAdminTransfer.ts
Due: none

debug: log balance
  packages/modules/init-capital/src/actions/deployInitCapital.test.ts
Due: none

chore: lint
  packages/modules/init-capital/src/actions/deployInitCapital.test.ts
Due: none

fix(init-capital): reorder subaction
  packages/modules/init-capital/src/actions/deployInitCapital.ts
  packages/modules/init-capital/src/actions/subactions/tx-builders/AccessControlManager/acceptDefaultAdminTransfer.ts
Due: none

fix(init-capital): change condition
  packages/modules/init-capital/src/actions/subactions/tx-builders/AccessControlManager/acceptDefaultAdminTransfer.ts
Due: none

debug(init-capital): log time bf send
  packages/modules/init-capital/src/actions/subactions/tx-builders/AccessControlManager/acceptDefaultAdminTransfer.ts
Due: none

debug(init-capital): reorder subaction
  packages/modules/init-capital/src/actions/deployInitCapital.ts
Due: none

update fork to auto mine
  packages/test/src/globalSetup.ts
Due: internal testing

Revert "update fork to auto mine"
  packages/test/src/globalSetup.ts
Due: internal testing

disable foundry cache in cicd
  .github/workflows/check.yml
Due: none

Revert "fix: try to test only one module"
  .github/workflows/check.yml
Due: none

minor fix test
  packages/modules/uniswap-v3/src/actions/__mock__/utils.ts
Due: infinit-xyz/uniswap-v3

log blocknumber
  packages/modules/uniswap-v3/src/actions/__mock__/utils.ts
Due: infinit-xyz/uniswap-v3

Revert "debug(init-capital): log time bf send"
  packages/modules/init-capital/src/actions/subactions/tx-builders/AccessControlManager/acceptDefaultAdminTransfer.ts
Due: none

remove unused log
  packages/modules/init-capital/src/actions/deployInitCapital.test.ts
  packages/modules/init-capital/src/actions/subactions/tx-builders/AccessControlManager/acceptDefaultAdminTransfer.ts
  packages/modules/uniswap-v3/contracts/swap-router-contracts/hardhat.config.cjs
Due: infinit-xyz/uniswap-v3

Revert "remove unused log"
  packages/modules/init-capital/src/actions/deployInitCapital.test.ts
  packages/modules/init-capital/src/actions/subactions/tx-builders/AccessControlManager/acceptDefaultAdminTransfer.ts
  packages/modules/uniswap-v3/contracts/swap-router-contracts/hardhat.config.cjs
Due: infinit-xyz/uniswap-v3

make vitest auto retry test up to 3 times
  vitest.config.ts
Due: none

update retry only for specific test
  packages/modules/aave-v3/src/actions/__test__/deployAaveV3.test.ts
  vitest.config.ts
Due: infinit-xyz/aave-v3

typo
  packages/modules/aave-v3/src/actions/__test__/deployAaveV3.test.ts
Due: infinit-xyz/aave-v3

minor fix test
  packages/modules/aave-v3/src/actions/__test__/deployAaveV3.test.ts
Due: infinit-xyz/aave-v3

remove unused log
  packages/modules/init-capital/src/actions/deployInitCapital.test.ts
  packages/modules/init-capital/src/actions/subactions/tx-builders/AccessControlManager/acceptDefaultAdminTransfer.ts
  packages/modules/uniswap-v3/contracts/swap-router-contracts/hardhat.config.cjs
  packages/modules/uniswap-v3/src/actions/__mock__/utils.ts
Due: infinit-xyz/uniswap-v3

stop impersonate account after send txs
  packages/test/src/testInfinitWallet.ts
Due: internal testing

minor fix test
  packages/modules/aave-v3/src/actions/__test__/deployAaveV3.test.ts
  packages/test/src/testInfinitWallet.ts
Due: internal testing, infinit-xyz/aave-v3

feat(init-capital): add feeVault
  packages/modules/init-capital/contracts/fee-vault/hardhat.config.cjs
  packages/modules/init-capital/package.json
  packages/modules/init-capital/scripts/postInstall.ts
  packages/modules/init-capital/scripts/postpack.ts
  packages/modules/init-capital/scripts/prepack.ts
  packages/modules/init-capital/src/actions/deployDoubleSlopeIRMs.test.ts
  packages/modules/init-capital/src/actions/deployDoubleSlopeIRMs.ts
  packages/modules/init-capital/src/actions/deployInitCapital.test.ts
  packages/modules/init-capital/src/actions/deployInitCapital.ts
  packages/modules/init-capital/src/actions/subactions/deployInitCapitalContracts4.ts
  packages/modules/init-capital/src/actions/subactions/tx-builders/FeeVault/deploy.ts
  packages/modules/init-capital/src/type.ts
Due: none

chore(init-capital): lint
  packages/modules/init-capital/contracts/fee-vault/hardhat.config.cjs
  packages/modules/init-capital/src/actions/deployInitCapital.test.ts
  packages/modules/init-capital/src/actions/subactions/deployInitCapitalContracts4.ts
  packages/modules/init-capital/src/actions/subactions/tx-builders/FeeVault/deploy.ts
Due: none

feat(init-capital): update bun.lock
  bun.lockb
Due: none

feat(init-capital): add deployDoubleSlopeIRMs action
  packages/modules/init-capital/src/actions/deployDoubleSlopeIRMs.test.ts
  packages/modules/init-capital/src/actions/index.ts
  packages/modules/init-capital/src/actions/subactions/deployInitCapitalContracts4.ts
Due: none

changelog
  .changeset/rare-toys-vanish.md
Due: none

add subactions
  packages/modules/init-capital/src/actions/subactions/setModeFactors.test.ts
  packages/modules/init-capital/src/actions/subactions/setModeFactors.ts
  packages/modules/init-capital/src/actions/subactions/tx-builders/Config/setBorrFactors_e18.test.ts
Due: none

update setupfiles name
  packages/test/src/setupFIles/resetTestClient.ts
Due: internal testing

refactor base vitest config
  vitest.config.ts
Due: none

resetTestClient in uniswapv3 test
  packages/modules/uniswap-v3/vitest.config.ts
Due: infinit-xyz/uniswap-v3

improve globalsetup when use local anvil
  packages/test/src/globalSetup.ts
  packages/test/src/utils.ts
Due: internal testing

fix test
  packages/test/src/utils.test.ts
Due: internal testing

add initialize tx-builders
  packages/modules/init-capital/src/actions/subactions/tx-builders/InitOracle/initialize.ts
  packages/modules/init-capital/src/actions/subactions/tx-builders/LiqIncentiveCalculator/initialize.ts
  packages/modules/init-capital/src/actions/subactions/tx-builders/MoneyMarketHook/initialize.ts
  packages/modules/init-capital/src/actions/subactions/tx-builders/RiskManager/initialize.ts
Due: none

minor improve config
  vitest.config.ts
Due: none
